<f:asset.css identifier="tx-shape"
			 href="EXT:shape/Resources/Public/Css/shape-layer.css" />
<f:asset.script identifier="tx-shape-init"
				defer="defer"
				priority="1"
				src="EXT:shape/Resources/Public/JavaScript/_init.js" />
<f:asset.script identifier="tx-shape-conditional-fields"
				src="EXT:shape/Resources/Public/JavaScript/conditional-fields.js"
				defer="defer"
				additionalAttributes="{type:'module'}"/>
<f:asset.script identifier="tx-shape-repeatable-container"
				defer="defer"
				src="EXT:shape/Resources/Public/JavaScript/repeatable-container.js" />
<f:asset.script identifier="tx-shape-validation-messages"
				defer="defer"
				src="EXT:shape/Resources/Public/JavaScript/validation-messages.js" />
<f:asset.script identifier="tx-shape-stylable-validation"
				defer="defer"
				src="EXT:shape/Resources/Public/JavaScript/stylable-validation.js" />