<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:is="http://typo3.org/ns/TYPO3/CMS/IndexedSearch/ViewHelpers" data-namespace-typo3-fluid="true">

<f:variable name="name" value="m-form-indexedsearch"/>

<f:alias map="{sword: searchParams.sword}">
    <f:render partial="Form" arguments="{_all}" />
</f:alias>
<layout:section
        class="{name}__list__wrap"
        top="large">
    <f:for each="{resultsets}" as="result">
        <f:if condition="{result.categoryTitle}">
            <h1 class="{name}__category">{result.categoryTitle}</h1>
        </f:if>
        <f:if condition="{result.count} > 0">
        </f:if>
        {result.searchedInSectionInfo}
        <f:if condition="{result.count} > 0">
            <f:then>
                <ul class="{name}__list">
                    <f:for each="{result.rows}" as="row">
                        <f:render partial="Searchresult" arguments="{row: row}" />
                    </f:for>
                </ul>
                <div class="{name}__pagination">
                    <is:pageBrowsing lang="de" numberOfResults="{result.count}" maximumNumberOfResultPages="{settings.page_links}" currentPage="{searchParams.pointer}" resultsPerPage="{searchParams.numberOfResults}" />
                </div>
            </f:then>
            <f:else>
                <div class="{name}__no-result">
                    <f:translate extensionName="theme" key="no-results"/>
                </div>
            </f:else>
        </f:if>
    </f:for>
</layout:section>

</html>