
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-card"/>
  <fc:param name="media" type="array" optional="1"/>
  <fc:param name="mediaSize" type="string" optional="1" default="cover" />
  <fc:param name="mediaWidth" type="string" optional="1" default="" />
  <fc:param name="orient" type="integer" optional="1" default="5" />
  <fc:param name="width" type="integer" optional="1"/>
  <fc:param name="cropVariant" type="string" optional="1" default="default" />
  <fc:param name="cropVariantMobile" type="string" optional="1" default="mobile" />
  <fc:param name="attributes" type="string" optional="1"/>
  <fc:renderer>

    <f:variable name="mods"
                value="{
                    orient: orient,
                    media-size: mediaSize,
                    media-width: mediaWidth}"/>

    <div class="{name} {mods -> ub:modClass()} {class} {f:if(condition:media.0,then:'-media')}" {attributes}>
      <div class="{name}__content {mods -> ub:modClass()}">
        <f:format.raw>{content}</f:format.raw>
      </div>
      <f:if condition="{width} > 5 || !{width}">
        <f:then>
          <f:variable name="calcWidth" value="{settings.gridWidth}"/>
        </f:then>
        <f:else>
          <f:variable name="calcWidth" value="{ub:math.evaluate(expression:'{settings.gridWidth}/2')}"/>
        </f:else>
      </f:if>
      <f:if condition="{media}">
        <element:media
                name="{name}"
                class="{mods -> ub:modClass()}"
                file="{media.0}"
                cropVariant="{cropVariant}"
                width="{calcWidth}"
                sources="{
                s: {width: calcWidth, cropVariant: cropVariant},
                xs: {width: 600, cropVariant: cropVariantMobile},
                0: {width: 450, cropVariant: cropVariantMobile}
                }"
                showTitle="{f:if(condition: '{mediaSize} == \'contain\'', then: '1', else: '0')}"
                showDesc="{f:if(condition: '{mediaSize} == \'contain\'', then: '1', else: '0')}"/>
      </f:if>
    </div>

  </fc:renderer>
</fc:component>
