@import ../00-settings/variables

.t3-page-ce-body-inner>strong
  display: none
  *
    display: none
  &+br
    display: none

.t3-page-ce-body-inner
  h2
    margin-top: 0
  h3
    margin-top: .5em
  &>a .thumb
    margin-top: 12px
    margin-right: 6px
  div.media-desc
    margin-top: 8px
    font-size: 10px

.typo3-login-logo
  filter: invert(1)

.card-login
  background: white
  .btn-login
    font-weight: bold
  .forgot-password a
    color: white
  .card-footer
    background: white

.item-row
  margin: -5px
  display: flex
  flex-wrap: wrap

.item-col
  width: 100%
  padding: 5px

.item-col.-col6
  width: percentage(1 / 6)
.item-col.-col5
  width: percentage(1 / 5)
.item-col.-col4
  width: percentage(1 / 4)
.item-col.-col3
  width: percentage(1 / 3)
.item-col.-col2
  width: percentage(1 / 2)

.t3js-contextmenutrigger[data-table='tt_content'] .icon-size-small
  width: 24px
  height: 24px
  margin: -4px 0 -4px -3px
