
<f:if condition="{settings}">
    <div class="small" style="padding-left: 1em; border-left: 1px solid;">
        <h6><strong>Settings</strong></h6>
        <f:render section="recordList" arguments="{records:settings.parents,title:'Subpages of'}"/>
        <f:render section="recordList" arguments="{records:settings.pages,title:'Pages'}"/>

        <f:render section="boolean" arguments="{value:settings.demand.overrideDemand,label:'Respect URL parameters'}"/>
        <f:render section="boolean" arguments="{value:settings.demand.navHide,label:'Respect hidden in menus'}"/>
        <f:render section="value" arguments="{value:settings.demand.limit,label:'Maximum displayed'}"/>
        <f:render section="value" arguments="{value:settings.demand.offset,label:'Number to skip'}"/>
<p></p>
        <f:render section="value" arguments="{value:settings.order.field,label:'Order by'}"/>
        <f:render section="value" arguments="{value:settings.order.direction,label:'Order direction'}"/>
<p></p>
        <f:render section="boolean" arguments="{value:settings.pagination.active,label:'Pagination'}"/>
        <f:if condition="{settings.pagination.active}">
            <f:render section="value" arguments="{value:settings.pagination.variant,label:'Pagination variant'}"/>
        </f:if>
<p></p>
        <f:render section="boolean" arguments="{value:settings.template.categoryFilter,label:'Show category filter'}"/>
    </div>
</f:if>

<f:section name="recordList">
    <f:if condition="{records}">
        {title}
        <ul>
            <f:for each="{puck:array.explode(string:records)}" as="uid">
                <li>{uid}</li>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="boolean">
    <f:if condition="{value}">
        <div>
        {label} <i class="fa fa-check"></i>
        </div>
    </f:if>
</f:section>

<f:section name="value">
    <div>
    <f:if condition="{value}">
        {label}: <strong>{value}</strong>
    </f:if>
    </div>
</f:section>