
<f:if condition="{settings}">
    <table class="table table-hover table-condensed">
        <style>
            .table tbody,
            .table thead {
                //border: 2px solid #ccc;
            }
        </style>
        <thead>
        <tr>
            <th colspan="2">
                <span style="font-weight: normal; text-transform: uppercase">
                    Plugin<core:icon identifier="menu_settings" size="small"/>options
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
            <f:render section="recordList" arguments="{records:processed.parents,title:'Subpages of'}"/>
            <f:render section="recordList" arguments="{records:processed.pages,title:'Pages'}"/>
            <f:render section="boolean" arguments="{value:settings.demand.overrideDemand,label:'Respect URL parameters'}"/>
            <f:render section="boolean" arguments="{value:settings.demand.navHide,label:'Respect hidden in menus'}"/>
            <f:render section="value" arguments="{value:settings.demand.limit,label:'Maximum displayed'}"/>
            <f:render section="value" arguments="{value:settings.demand.offset,label:'Number to skip'}"/>
            <f:render section="recordList" arguments="{records:processed.author,title:'Author'}"/>
            <f:if condition="{settings.demand.category.conjunction}">
                <f:render section="value" arguments="{value:settings.demand.category.conjunction,label:'Category conjunction'}"/>
                <f:render section="recordList" arguments="{records:processed.categories,title:'Categories'}"/>
            </f:if>
        </tbody>
        <tbody>
            <f:render section="value" arguments="{value:settings.order.field,label:'Order by'}"/>
            <f:render section="value" arguments="{value:settings.order.direction,label:'Order direction'}"/>
        </tbody>
        <tbody>
            <f:render section="boolean" arguments="{value:settings.pagination.active,label:'Pagination'}"/>
            <f:if condition="{settings.pagination.active}">
                <f:render section="value" arguments="{value:settings.pagination.itemsPerPage,label:'Items per page'}"/>
                <f:render section="value" arguments="{value:settings.pagination.variant,label:'Pagination variant'}"/>
            </f:if>
        </tbody>
        <tbody>
            <f:render section="boolean" arguments="{value:settings.categoryFilter.active,label:'Show category filter'}"/>
            <f:if condition="{settings.categoryFilter.active}">
                <f:render section="boolean" arguments="{value:settings.categoryFilter.multiSelect,label:'Enable multi-select in filter'}"/>
                <f:render section="boolean" arguments="{value:settings.categoryFilter.multiSelectWithinGroup,label:'Enable multi-select within a filter group'}"/>
                <f:render section="boolean" arguments="{value:settings.categoryFilter.checkPotential,label:'Disable buttons without potential results'}"/>
                <f:render section="recordList" arguments="{records:processed.filter_categories,title:'Filter categories'}"/>
                <f:render section="recordList" arguments="{records:processed.filter_category_groups,title:'Filter category groups'}"/>

            </f:if>
        </tbody>
    </table>
</f:if>

<f:section name="recordList">
    <f:if condition="{records}">
        <tr>
            <th style="width:30%">{title}</th>
            <td>
            <f:for each="{records}" as="record" iteration="i">
                    <a aria-label="{record.backend_link_title}" title="{record.backend_link_title}" data-bs-toggle="tooltip" href="{record.backend_link}">
                        <core:iconForRecord table="{record.table}" row="{record}"/>
                        {record.title}
                    </a><f:if condition="!{i.isLast}">, </f:if>
            </f:for>
            </td>
        </tr>
    </f:if>
</f:section>

<f:section name="boolean">
    <f:if condition="{value}">
        <tr>
            <th style="width:30%">{label}</th> <td><i class="fa fa-check"></i></td>
        </tr>
    </f:if>
</f:section>

<f:section name="value">
    <f:if condition="{value}">
        <tr>
        <th style="width:30%">{label}</th> <td>{value}</td>
        </tr>
    </f:if>
</f:section>