@import ../00-settings/variables

.t3-page-ce-body-inner>strong
  display: none
  *
    display: none
  &+br
    display: none

.t3-page-ce-header .t3js-contextmenutrigger .icon-size-small
  width: 24px
  height: 24px
  margin: -4px 0

.t3-page-ce-body-inner
  h2
    margin-top: 0
  h3
    margin-top: .5em
  &>a .thumb
    margin-top: 12px
    margin-right: 6px
  div.media-desc
    margin-top: 8px
    font-size: 10px

.typo3-login-logo
  //filter: invert(1)
  img
    max-height: 120px

.card-login
  background: white
  .btn-login
    font-weight: bold
  .forgot-password a
    color: white
  .card-footer
    background: white

.item-row
  margin: -5px
  display: flex
  flex-wrap: wrap

.item-col
  width: 100%
  padding: 5px

.item-col.-col6
  width: calc(100% / 6)
.item-col.-col5
  width: calc(100% / 5)
.item-col.-col4
  width: calc(100% / 4)
.item-col.-col3
  width: calc(100% / 3)
.item-col.-col2
  width: calc(100% / 2)

.t3js-contextmenutrigger[data-table='tt_content'] .icon-size-small
  //width: 24px
  //height: 24px
  //margin: -4px 0 -4px -3px

.t3-page-ce .t3-page-ce-body-inner .thumb img
  background: #ccc

// to do update
.form-wizards-wrap
  .form-wizard-icon-list
    border: var(--bs-border-width) solid #bbb
    border-radius: var(--bs-border-radius)
    padding: 0
    background: white

  .form-wizard-icon-list-item a:not(.active)
    padding: calc(var(--typo3-spacing)/ 4)
    margin: calc(var(--typo3-spacing)/ 6)
  .form-wizard-icon-list-item a.active, .form-wizard-icon-list-item a:active
    background: var(--bs-tertiary-bg)
    outline: none
    border: var(--bs-border-width) solid #bbb
    border-radius: 0
    border-top: none
    border-bottom: none

  .form-wizard-icon-list-item a:hover
    background: inherit
    outline: none
    color: inherit

.t3-page-ce-footer
  padding: 0

.t3-page-ce-body a:hover
  text-decoration: none
