
$background: rgb(253, 252, 252)
$background-frosted: rgba(253, 252, 252, 0.31)
$background-alt: rgb(245, 243, 241)
$text: black
$text-emphasis: black
$headline: black
$link: rgb(119, 107, 95)
$link--hover: black
$control: white
$control--hover: rgb(240, 240, 240)
$control-border: rgb(229, 229, 229)
$control-dark: white
$typo3-brand: #ff8700
$control-outline--focus: #2B7FFF

=color-space-base
	// basic
	--color: #{ $text }
	--color-emphasis: #{ $headline }
	--color-headline: #{ $headline }
	--color-accent: #{ $link }
	--background: #{ $background }
	--background-frosted: #{ $background-frosted }
	--color-link: #{ $link }
	--color-link--hover: #{ $link--hover }
	--color-link--disabled: #{ rgba($text, 0.8) }

	// button
	--color-button: #{ $headline }
	--color-button--hover: #{ $headline }
	--color-button-border: #{ $control-border }
	--color-button-border--hover: #{ $control-border }
	--outline-color-button--focus: #{ $control-outline--focus }
	--background-button: #{ $control }
	--background-button--hover: #{ $control--hover }
	--background-dropdown: #{ $control-dark }

	// input
	--color-input: #{ $text-emphasis }
	--color-input--active: #{ $text-emphasis }
	--color-input-border: #{ $control-border }
	--color-input-border--active: #{ $link--hover }
	--background-input: transparent
	--background-input--active: transparent

	// card
	--background-card: #{ $background-alt }
	--border-color-card: #{ $control-border }

	// modal
	--background-modal: #{ $background }
	--background-modal-backdrop: rgba(0, 0, 0, 0.5)
	--background-footer: #{ $background-alt }

	// plyr
	--plyr-color-main: #{ $link }

=color-space-alt
	--background: #{ $background-alt }
