
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-carousel"/>
  <fc:param name="id" type="string"/>
  <fc:param name="options" type="array" optional="1"/>
  <fc:param name="controls" type="boolean" optional="1" default="1"/>
  <fc:param name="pagination" type="boolean" optional="1" default="0"/>
  <fc:param name="slideCount" type="integer" optional="1" default="0"/>
  <fc:param name="trackOverflow" type="string" optional="1" default="hidden"/>
  <fc:renderer>

    <div class="{name} {class} splide" data-carousel="{options}" id="{id}">
      <div class="{name}__track splide__track -overflow-{trackOverflow}">
        <ul class="{name}__list splide__list">
          <f:format.raw>{content}</f:format.raw>
        </ul>
      </div>
    </div>

    <f:if condition="{controls}">
      <div class="{name}__controls {class}">
        <button class="{name}__controls__prev" aria-controls="{id}" data-go-to="<">Prev</button>
        <button class="{name}__controls__next" aria-controls="{id}" data-go-to=">">Next</button>
      </div>
    </f:if>

    <f:if condition="{pagination} && {slideCount}">
      <div class="{name}__pagination {class}">
        <f:for each="{ub:array.range(end: '{slideCount}-1')}" as="index">
            <button class="{name}__pagination__item" aria-controls="{id}" data-go-to="{index}">
            </button>
        </f:for>
      </div>
    </f:if>

  </fc:renderer>
</fc:component>


