.e-text-rich
	&
		width: 100%

	& p+h2, & p+h3, & p+h4

	p:last-child
		padding-bottom: 0

	.-small
		+font-size($fs-small)

	.-intro
		+spacing(bottom, m)
		+font-size($fs-h3)

	.-footnote
		+font-size($fs-extra-small)
		color: lightgrey

	a
		color: var(--color-link)

	a:hover
		color: var(--color-link--hover)

	ul, ol
		@extend .e-text-list

	table
		@extend .e-text-table


