{
	"presets": ["@babel/preset-env"],
	"plugins": [
		["@babel/plugin-transform-react-jsx", { "pragma": "jsx" }],
		["@babel/plugin-transform-private-methods"],
		["@babel/plugin-transform-class-properties"],
		[
			"module-resolver",
			{
				"cwd": "babelrc",
				"root": ["./"],
				"alias": {
					"~": "./puck/Resources/Private/JavaScript"
				}
			}
		]
	],
	"comments": false
}
