node_modules
.DS_Store
.sass-cache
/.vscode
/.nova
/.idea
/.claude
/Resources/Public/Fonts/Icons/
/Resources/Public/Css/dist/
/Resources/Public/JavaScript/dist/
/Resources/Public/Icons/sprite-sheet.svg
/Resources/Public/Favicons/packages/
/src/sass/02-generic/_icon-font.scss
