package-lock.json
node_modules
.DS_Store
.sass-cache
.idea
/.vscode
/.nova
/.idea
/theme/Configuration/_Content/_CTypes/
/theme/Resources/Public/json/Language/
/theme/Resources/Public/json/Language/de.locallang.xlf.json
/theme/Resources/Public/json/Language/locallang.xlf.json
/theme/Resources/Public/Fonts/Icons/
/theme/Resources/Private/Stylesheets/00-settings/_icon-font.scss
/theme/Resources/Public/css/
/theme/Resources/Public/js/
/theme/Resources/Public/Icons/sprite-sheet.svg
/theme/Configuration/TypoScript/05_favicons.typoscript
/theme/Resources/Public/Icons/Favicons/
/theme/Configuration/TypoScript/05_favicons.typoscript
