package-lock.json
node_modules
.DS_Store
.sass-cache
.idea
/.vscode
/.nova
/.idea
/theme/Configuration/_Content/_CTypes/
/theme/Resources/Public/json/Language/
/theme/Resources/Public/json/Language/de.locallang.xlf.json
/theme/Resources/Public/json/Language/locallang.xlf.json
/theme/Resources/Public/fonts/icons/
/theme/Resources/Private/Stylesheets/00-settings/_icon-font.scss
/theme/Resources/Public/css/
/theme/Resources/Public/js/
/theme/Resources/Public/images/sprite-sheet.svg
/theme/Configuration/TypoScript/04_favicons.typoscript
/theme/Resources/Public/images/favicons/
/theme/Configuration/TypoScript/04_favicons.typoscript
