
<f:argument name="icon" type="string"/>
<f:argument name="img" type="boolean" optional="1" default="0"/>
<f:argument name="attributes" type="array" optional="1"/>
<f:argument name="titlePrefix" type="string" optional="1" default=""/>


<tag:svg class="{class} svg-icon svg--{icon}"
		 role="{f:if(condition:img, then:'img')}"
		 aria-hidden="{f:if(condition:img, else:'true')}"
		 additionalAttributes="{attributes}">
	<f:if condition="{img}">
		<title>{titlePrefix}{icon}</title>
	</f:if>
	<use tabindex="-1" href="{f:uri.resource(path:'Icons/sprite-sheet.svg', extensionName: 'puck')}#{icon}"></use>
</tag:svg>