
<f:argument name="name" type="string" optional="1" default="l-carousel"/>
<f:argument name="id" type="string"/>
<f:argument name="align" type="string" optional="1" default="start"/>
<f:argument name="carouselAttributes" type="array"/>

<tag:div class="{class} {name} splide"
		 data-controller="carousel"
		 data-carousel="{carouselAttributes -> u:array(merge:{baseSplideClass:name}) -> f:format.json()}"
		 id="{id}">

	<div class="{name}__track splide__track -overflow-{carouselAttributes.trackOverflow}">
		<div class="{name}__list splide__list -align-{align}">
			<f:slot/>
		</div>
	</div>

	<div class="{name}__controls">
		<f:if condition="{carouselAttributes.splideOptions.arrows}">
			<div class="{name}__arrows splide__arrows">
				<button
					class="{name}__arrowPrev splide__arrow--prev"
					type="button" aria-controls="{id}">
					<icon:svg icon="arrow-left-regular"/>
				</button>
				<button
					class="{name}__arrowNext splide__arrow--next"
					type="button" aria-controls="{id}">
					<icon:svg icon="arrow-right-regular"/>
				</button>
			</div>
		</f:if>
	</div>

</tag:div>