
<fc:component>
  <fc:param name="name" type="string" optional="1" default="m-menu__filter"/>
  <fc:param name="categoryFilter" type="UBOS\Puck\Menu\Dto\CategoryFilter"/>
    <fc:param name="sectionId" type="string" optional="1"/>
  <fc:renderer>

      <f:if condition="{categoryFilter.items}">
          <div class="{name}"
               id="{sectionId}-filter"
               data-hx-swap="outerHTML"
               data-hx-select="#{sectionId}-body"
               data-hx-target="#{sectionId}-body">
              <ul class="{name}__list">
                  <f:for each="{categoryFilter.items}" as="item" iteration="i">
                      <li class="{name}__item">
                      <f:if condition="{item.items}">
                          <f:then>
                              <element:dropdown
                                      id="{sectionId}-filter-{i.index}-dropdown"
                                      label="{item.label}">
                                  <fc:content slot="buttonContent">
                                       
                                      <f:if condition="{item.closeItem}">
                                          <a href="{item.closeItem.url}"
                                             class="e-dropdown__close"
                                             data-hx-get="{item.closeItem.fetchLinkOptions.url}"
                                             data-hx-push-url="{item.closeItem.url}">
                                              {item.activeChildren -> f:count()}
                                              <icon:char icon="xmark-regular" class="e-dropdown__close__icon"/>
                                          </a> 
                                      </f:if>
                                  </fc:content>
                                  <f:for each="{item.items}" as="childItem">
                                          <a href="{childItem.url}"
                                             class="{u:bem(
                                                block:'e-dropdown',
                                                el:'option',
                                                mod:{active:childItem.active, disabled:childItem.hasNoPotential}
                                             )}"
                                             data-hx-get="{childItem.fetchLinkOptions.url}"
                                             data-hx-push-url="{childItem.url}">
                                              {childItem.label}
                                              <f:if condition="{childItem.active}">
                                                 <icon:char icon="xmark-regular" class="e-button-dropdown__option__close__icon"/>
                                              </f:if>
                                          </a>
                                  </f:for>
                              </element:dropdown>
                          </f:then>

                          <f:else>
                              <a href="{item.url}"
                                 class="{u:bem(
                                    el:'link',
                                    raw:'e-button',
                                    mod:{active:item.active, disabled:item.hasNoPotential, icon: item.active}
                                 )}"
                                 data-hx-get="{item.fetchLinkOptions.url}"
                                 data-hx-push-url="{item.url}">
                                  {item.label}
                                  <f:if condition="{item.active}">
                                       <icon:char icon="xmark-regular" />
                                  </f:if>
                              </a>
                          </f:else>

                      </f:if>
                      </li>
                  </f:for>
              </ul>
          </div>
      </f:if>

  </fc:renderer>
</fc:component>

