.m-page-sidebar-menu

  @keyframes sidebar-open
    0%
      transform: translateX(0)
    100%
      transform: translateX(-100%)

  @keyframes sidebar-close
    0%
      transform: translateX(-100%)
    100%
      transform: translateX(0)

  &__wrap
    +flex(column,flex-start,flex-start)
    +gutter-outer
    +spacing(bottom, m)
    position: fixed
    top: 0
    left: 100%
    z-index: $z-index-modal
    display: none
    width: 100vw
    max-width: width-by-cols(3, true)
    max-height: 100dvh
    overflow: hidden
    overflow-y: auto
    background: var(--background-modal)
    border-bottom-left-radius: var(--border-radius-s)
    box-shadow: var(--box-shadow-s)
    transition: height .15s, opacity .2s
    +media(s)
      max-width: 85%
      height: 100%
      border-bottom-left-radius: 0
    &.--active
      display: flex
      transform: translateX(-100%)
      animation: sidebar-open .3s
    &.--deactivating
      display: flex
      animation: sidebar-close .3s

  &__header
    +flex(row, flex-start, center, nowrap)
    width: calc(100% - var(--scrollbar-width))
    height: var(--height-page-header)
    border-bottom: 2px solid $grey-5

  &
    +flex(column, flex-end, flex-start)
    padding-top: 2em

  &__list
    width: 100%
    justify-content: flex-start
    flex-direction: column

  &__item
    margin-left: 0
    margin-bottom: 1em

  &__link
    color: var(--color-link)
    transition: color .15s
    &:hover,
    &:focus-visible
      color: var(--color-link--hover)
    &:focus-visible
      border-radius: var(--border-radius-s)
      box-shadow: 0 0 0 4px var(--outline-color-button--focus)

  &__close
    +flex(row,center,center)
    height: 3rem
    width: 3rem
    margin-left: auto
    margin-right: -.5rem
    padding: .5rem
    font-size: 1.9rem
    color: var(--color-link)
    transition: color .15s, box-shadow .15s
    &:hover,
    &:focus-visible
      color: var(--color-link--hover)
    &:focus-visible
      border-radius: var(--border-radius-s)
      box-shadow: 0 0 0 4px var(--outline-color-button--focus)