
.m-page-header-menu
	&__wrap
		+flex(column, flex-start, flex-end, nowrap)
		margin-left: auto

	&
		+typo-nav
		+flex(column, flex-end, flex-end)
		margin: -.2em -1em
		flex-grow: 1

	& + &
		+media($bp-mobile-nav, up)
			padding-left: 2em

	&.-social
		margin: -.2em -.5em

	&__meta__wrap
		+media($bp-mobile-nav, up)
			display: flex

	&__list
		position: relative
		display: flex
		justify-content: flex-end

	&__item
		//margin-left: 2em

	&__link
		display: block
		padding: .2em 1em
		color: var(--color-link)
		transition: opacity .15s, color .15s
		&:hover
			color: var(--color-link--hover)

	&.-social &__link

	.m-page-header.--scroll &__link

	&__link.current,
	&__link.active

	&__link:hover

	&.-small
		+font-size($fs-extra-small)

	&__close
		display: none

//mobile nav
+media($bp-mobile-nav)
	.m-page-header-menu
		&
			+flex(column-reverse, flex-end, flex-start)
			padding-top: 0

		&__wrap
			+flex(column-reverse, flex-start, stretch)
			+gutter-outer
			+spacing(bottom, m)
			position: fixed
			top: 0
			left: 100%
			z-index: $z-index-modal
			width: 100vw
			max-width: width-by-cols(4, true)
			max-height: 100dvh
			overflow: hidden
			overflow-y: auto
			visibility: hidden
			padding-top: var(--height-page-header)
			background: var(--background-modal)
			border-bottom-left-radius: var(--border-radius-s)
			box-shadow: var(--box-shadow-s)
			transition: transform .3s ease-in-out, top .15s, height .15s, opacity .2s
			+media(s)
				max-width: 100%
				height: 100%
				padding-top: calc(var(--height-page-header) * 1.5)
				border-bottom-left-radius: 0


		&__wrap.--deactivating
			visibility: visible
		&__wrap.--active
			visibility: visible
			transform: translateX(-100%)

		&__list
			width: 100%
			justify-content: flex-start
			flex-direction: column

		&__item
			margin-left: 0
			margin-bottom: 1em

		&__link

		&__backdrop
			position: fixed
			display: none
			top: 0
			left: 0
			z-index: $z-index-header-menu-backdrop
			height: 100%
			width: 100vw
			background: var(--background-modal-backdrop)

		.d-html.--main-menu-toggleable--active &__backdrop
			display: block
			animation: modal-open-overlay .3s

		&__close
			display: block
			position: absolute
			z-index: 9
			right: 2.5em
			top: 1.5em
			cursor: pointer
			color: var(--color-link)