.m-page-header
  &
    position: absolute
    top: 0
    left: 0
    z-index: $z-index-header
    width: 100%
    height: var(--height-page-header)
    background: var(--background)
    border-bottom: 2px solid transparent
    transition: background .5s, box-shadow .2s, border-color .15s, transform .15s

  .d-html[class*="-modal--active"] &.--scroll
    transform: translateY(-100%)

  &.--scroll
    --height-page-header: #{$page-header-height--scroll}
    position: fixed
    top: 0
    +media(sm)
      --height-page-header: #{$page-header-height-mobile}

  &__container
    +flex(row, space-between, center, nowrap)
    +gutter-outer()
    height: 100%

  &__anchor
    position: relative
    display: flex
    align-items: center
    transition: width .5s, padding .5s

  &__logo
    z-index: $z-index-header-burger
    max-width: 90%
    height: 5rem
    width: 5rem
    color: var(--color-link)
    fill: var(--color-link)
    outline: none
    transition: color .4s, transform .4s, fill .4s
    &:hover
      color: var(--color-link--hover)
      fill: var(--color-link--hover)
      transform: scale(1.05)

  &.--scroll &__logo

  &__menu
    padding-bottom: .5rem

  &__burger
    z-index: $z-index-header-burger
    +media($bp-mobile-nav, up)
      display: none

  &__background
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: var(--height-page-header)
    background: white
    opacity: 0
    transform: translateY(-100%)
    transition: opacity .35s, transform 0s .35s, border-color .35s

  &.--scroll &__background
    opacity: 1
    transform: translateY(0%)

    transition: transform .35s, border-color .35s
