
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-row"/>
  <fc:param name="id" type="string" optional="1"/>
  <fc:param name="direction" type="string" optional="1" default="row"/>
  <fc:param name="justify" type="string" optional="1" default="center"/>
  <fc:param name="align" type="string" optional="1" default="flex-start"/>
  <fc:param name="itemWidth" type="integer" optional="1" default=""/>
  <fc:param name="flexGrow" type="integer" optional="1" default="0"/>
  <fc:param name="breakpoints" type="array" optional="1" default="{bp:'auto'}"/>
  <fc:param name="attributes" type="array" optional="1"/>
  <fc:renderer>

    <u:var set="bpClasses"><f:for each="{breakpoints}" key="bp" as="val">-{bp}-{val} </f:for></u:var>
    <div class="{u:bem(
           raw:'{class} {bpClasses}',
           mod:{
              item-width: itemWidth,
              direction: direction,
              justify: justify,
              align: align,
              flex-grow: flexGrow
         })}"
       {f:if(condition: id, then: 'id="{id}"', else: '')}
       {attributes -> u:renderAttributes()}>
      <fc:slot name="content"/>
    </div>

  </fc:renderer>
</fc:component>



