
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-row"/>
  <fc:param name="id" type="string" optional="1"/>
  <fc:param name="gutterRem" type="string" optional="1"/>
  <fc:param name="direction" type="string" optional="1" default="row"/>
  <fc:param name="justify" type="string" optional="1" default="center"/>
  <fc:param name="align" type="string" optional="1" default="flex-start"/>
  <fc:param name="itemWidth" type="integer" optional="1" default=""/>
  <fc:param name="flexGrow" type="integer" optional="1" default="0"/>
  <fc:param name="breakpoints" type="array" optional="1" default="{bp:'auto'}"/>
  <fc:param name="attributes" type="mixed" optional="1"/>
  <fc:renderer>

    <f:variable name="mods"
                value="{
                item-width: itemWidth,
                direction: direction,
                justify: justify,
                align: align,
                flex-grow: flexGrow,
                gutter-rem: gutterRem
                }"/>
    <f:variable name="bpClasses"><f:for each="{breakpoints}" key="bp" as="val">-{bp}-{val} </f:for></f:variable>
    <ul class="{name} {class} {mods -> puck:modClass()} {bpClasses}"
        id="{id}"
        style="{f:if(condition:gutterRem,then:'--grid-gutter-x:{gutterRem}rem')}"
        data-layout-row
        {attributes -> puck:attributes()}>
      {content -> f:format.raw()}
    </ul>

  </fc:renderer>
</fc:component>



