
<fc:component>
    <fc:param name="name" type="string" optional="1" default="l-media"/>
    <fc:param name="media" type="array" optional="1"/>
    <fc:param name="text" type="string" optional="1"/>
    <fc:param name="layout" type="string" optional="1" default="above" />
    <fc:param name="justify" type="string" optional="1"/>
    <fc:param name="align" type="string" optional="1"/>
    <fc:param name="mediaWidth" type="integer" optional="1" default="5" />
    <fc:param name="textWidth" type="integer" optional="1" default="5" />
    <fc:param name="itemWidth" type="integer" optional="1" default="5" />
    <fc:param name="mediaMobileMaxVh" type="integer" optional="1" default="0" />
    <fc:param name="cropVariant" type="string" optional="1" default="default"/>
    <fc:param name="showTitle" type="boolean" optional="1" default="1"/>
    <fc:param name="showDesc" type="boolean" optional="1" default="1"/>
    <fc:renderer>

        <div class="{name} -layout-{layout} {class} {f:if(condition:mediaMobileMaxVh,then:'-mobile-max-height')}" style="--max-height-media-mobile: {mediaMobileMaxVh}vh">
            <layout:row class="{name}__row" justify="{justify}" align="{align}">
                <f:if condition="{media}">
                    <layout:row.item class="{name}__media" width="{mediaWidth}">
                        <f:if condition="{width} > 4 || !{width}">
                            <f:then>
                                <f:variable name="calcWidth" value="{settings.gridWidth}"/>
                            </f:then>
                            <f:else if="{width} > 2">
                                <f:variable name="calcWidth" value="{u:math(eval:'{settings.gridWidth}/2')}"/>
                            </f:else>
                            <f:else>
                                <f:variable name="calcWidth" value="{u:math(eval:'{settings.gridWidth}/4')}"/>
                            </f:else>
                        </f:if>
                        <layout:row itemWidth="{itemWidth}" justify="{justify}" align="{align}">
                            <f:for each="{media}" as="file">
                                <layout:row.item>
                                    <element:media
                                            name="{name}"
                                            file="{file}"
                                            cropVariant="{cropVariant}"
                                            width="{calcWidth}"
                                            sources="{
                                              xs: {width: 450, cropVariant: cropVariant},
                                              m: {width: 975, cropVariant: cropVariant}
                                              }"
                                            breakpointSources="1"
                                            showTitle="{showTitle}"
                                            showDesc="{showDesc}"/>
                                </layout:row.item>
                            </f:for>
                        </layout:row>
                    </layout:row.item>
                </f:if>
                <f:if condition="{text} || {content}">
                    <layout:row.item class="{name}__text" width="{textWidth}">
                        <element:richText text="{text}"/>
                        <fc:slot name="content"/>
                    </layout:row.item>
                </f:if>
            </layout:row>
        </div>

    </fc:renderer>
</fc:component>


