@use '01-tools/all' as *

.e-buttonGroup
	&
		+flex(row, flex-start, center)
		gap: .5em

	&.u-text-center
		justify-content: center

	&.u-text-right
		justify-content: flex-end

	& + &
	//margin-top: calc(var(--gutter-x) * -1)

	.e-button
		&:hover,
		&:focus,
		&:active,
		&.--active
			z-index: 1

	&.-gutter-0
		&
			width: fit-content
			gap: 2px
			overflow: clip
			background: var(--color-button-border)
			border: 2px solid transparent
			border-radius: var(--border-radius-s)

		:where(&) .e-button,
		:where(&) a:where(:has(.e-button:only-child))
			margin-inline: 0
			flex-grow: 1
			border: none
			border-radius: 0
			outline-offset: -4px