
<f:argument name="name" type="string" optional="1" default="m-anchorMenu"/>
<f:argument name="record" type="mixed"/>
<f:argument name="menu" type="array" optional="1"/>


<layout:section
	class="{name}__wrap"
	record="{record}">
	<f:if condition="{menu}">
		<ul class="{name}__list">
			<f:if condition="{record.header}">
				<li class="{name}__item">
					<header class="{name}__header">{record.header}</header>
				</li>
			</f:if>
			<f:for each="{menu}" as="anchor" iteration="i">
				<li class="{name}__item">
					<a class="{name}__link" href="#{anchor.subheader}">{anchor.header}</a>
				</li>
			</f:for>
		</ul>
	</f:if>
</layout:section>






