
<f:argument name="name" type="string" optional="1" default="m-coverMedia"/>
<f:argument name="record" type="mixed"/>


<layout:section
	class="{name}__wrap -layout-{record.media_layout}"
	record="{record}"
	container="{f:if(condition: '{record._media_layout_direction} == \'row\'', then:1, else:0)}">
	<f:if condition="{record._media_layout_direction} == 'column'">
		<f:then>
			<f:if condition="{record.bodytext} || {record.header} || {record.subheader}">
				<layout:container width="{record.container_width}" align="{record.container_position}"
								  offset="{record.container_offset}">
					<div class="{name}__content -layout-{record.media_layout}">
						<element:moduleHeader record="{record}"/>
						<element:richText record="{record}"/>
						<f:slot/>
					</div>
				</layout:container>
			</f:if>
			<element:media
				name="{name}"
				class="-layout-{record.media_layout}"
				file="{record.assets.0}"
				width="2560"
				sources="{
			  xs: {width: 430, cropVariant: 'default'},
			  l: {width: 1180, cropVariant: 'default'},
			  1920: {width: 1920, cropVariant: 'default'}
		  }"
				breakpointSources="1"/>
		</f:then>
		<f:else>
			<layout:row justify="space-between" class="{name}__row -layout-{record.media_layout}">
				<layout:row.item width="5" breakpoints="{sm:12}">
					<div class="{name}__content -layout-{record.media_layout}">
						<element:moduleHeader record="{record}"/>
						<element:richText record="{record}"/>
					</div>
				</layout:row.item>
				<layout:row.item width="6" breakpoints="{sm:12}">
					<element:media
						name="{name}"
						class="-layout-{record.media_layout}"
						file="{record.assets.0}"
						width="1280"
						breakpointSources="1"
						sources="{
				  xs: {width: 430, cropVariant: 'default'},
				  1920: {width: 960, cropVariant: 'default'}
			}"/>
				</layout:row.item>
			</layout:row>
		</f:else>
	</f:if>
</layout:section>





