
<f:argument name="record" type="mixed"/>
<f:argument name="name" type="string" optional="1" default="m-main"/>


<div class="{name}__padding"></div>
<main class="{name}" id="main">
	<f:if condition="{record.doktype} == {constants.doktypes.news}">
		<u:transientRecord
			set="heroRecord"
			type="tt_content"
			data="{
			CType:'puck_hero',
			pid:record.uid,
			uid:'-1',
			header:record.nav_title,
			subheader: '{record.post_date -> f:format.date(format: \'%d. %B %Y\')}'
			}"/>
		<module:hero record="{heroRecord}"/>
	</f:if>
	<f:slot/>
</main>



