
<f:argument name="name" type="string" optional="1" default="m-modal"/>
<f:argument name="record" type="UBOS\Puck\Record\ContentRecord"/>
<f:argument name="cropVariant" type="string" optional="1" default="default"/>


<layout:modal width="{record.container_width}" id="c{record.uid}">
	<layout:card
		media="{record.assets}"
		cropVariant="{cropVariant}"
		mediaSize="{record.card_media_size}"
		mediaWidth="{record.media_column_width}"
		mediaLayout="{record.media_layout}">
		<element:moduleHeader record="{record}"/>
		<element:richText record="{record}"/>
		<f:slot/>
	</layout:card>
</layout:modal>





