
<f:argument name="name" optional="1" type="string" default="m-pageMenu"/>
<f:argument name="record" type="mixed"/>
<f:argument name="menu" type="array" optional="1"/>
<f:argument name="pagination" type="Amdeu\MenuControls\Dto\Pagination" optional="1"/>
<f:argument name="categoryFilter" type="Amdeu\MenuControls\Dto\CategoryFilter" optional="1"/>

<layout:section
	class="{name}__wrap"
	record="{record}"
	containerName="{f:if(condition:'{record.layout} == \'cards\' || {record.layout} == \'columns\'',then:'',else:name)}">
	<element:moduleHeader record="{record}"/>
	<element:richText record="{record}" class="{name}__bodytext"/>

	<div class="{name}__body" data-focus-after-swap="#c{record.uid}-list a" id="c{record.uid}-body">

		<f:if condition="{categoryFilter}">
			<module:menu.filter categoryFilter="{categoryFilter}" contentUid="{record.uid}"/>
		</f:if>

		<f:comment>adjust teaser heading tags based on section heading tag to preserve hierarchy</f:comment>
		<f:variable name="subheadingMap" value="{0:'h3', p:'h3', h2:'h3', h3:'h4', h4:'h5'}"/>
		<u:var set="teaserHeadingTag" value="{subheadingMap.{record.header_layout.tag}}" fallback="h3"/>

		<f:if condition="{menu}">
			<f:switch expression="{record.layout}">

				<f:defaultCase>
					<layout:row class="{name}__row"
								id="c{record.uid}-list"
								flexGrow="0" justify="left" align="top">
						<f:for as="item" each="{menu}" iteration="i">
							<module:teaser
								class="{name}__item l-row__item -bp-auto -width-4 -variant-{record.layout}"
								page="{item}"
								config="{teaserText:1}"
								headingTag="{teaserHeadingTag}"
								layoutCard="{
								cropVariant:'16:9',
								mediaSize:'cover'
								}" />
						</f:for>
					</layout:row>
				</f:defaultCase>

				<f:case value="newsCards">
					<layout:row class="{name}__row"
								id="c{record.uid}-list"
								flexGrow="0" justify="left" align="top">
						<f:for as="item" each="{menu}" iteration="i">
							<module:teaser
								class="{name}__item l-row__item -bp-auto -width-4 -variant-{record.layout}"
								page="{item}"
								config="{postDate:1,categoryList:1}"
								headingTag="{teaserHeadingTag}"
								layoutCard="{
								cropVariant:'16:9',
								mediaSize:'cover',
								align:'start'
								}" />
						</f:for>
					</layout:row>
				</f:case>

				<f:case value="columns">
					<layout:row class="{name}__row"
								id="c{record.uid}-list"
								flexGrow="{record.flex_grow}" align="{record.row_align}" justify="{record.row_justify}">
						<f:for as="item" each="{menu}" iteration="i">
							<module:teaser
								class="{name}__item l-row__item -bp-auto -width-{record.item_column_width} -variant-{record.layout}"
								page="{item}"
								config="{record.menu_item_config}"
								headingTag="{teaserHeadingTag}"
								layoutMedia="{
								cropVariant:'16:9',
								itemWidth:record.media_column_width,
								layout:record.media_layout,
								mediaWidth:record.media_column_width,
								textWidth:record.text_column_width
								}" />
						</f:for>
					</layout:row>
				</f:case>

				<f:case value="cards">
					<layout:row class="{name}__row"
								id="c{record.uid}-list"
								flexGrow="{record.flex_grow}" align="{record.row_align}" justify="{record.row_justify}">
						<f:for as="item" each="{menu}" iteration="i">
							<module:teaser
								class="{name}__item l-row__item -bp-auto -width-{record.item_column_width} -variant-{record.layout}"
								page="{item}"
								config="{record.menu_item_config}"
								headingTag="{teaserHeadingTag}"
								layoutCard="{
								cropVariant:'16:9',
								mediaLayout:record.media_layout,
								mediaSize:record.card_media_size,
								mediaWidth:record.media_column_width
								}" />
						</f:for>
					</layout:row>
				</f:case>

			</f:switch>
		</f:if>

		<f:if condition="{pagination}">
			<module:menu.pagination pagination="{pagination}" sectionId="c{record.uid}"/>
		</f:if>
	</div>

</layout:section>






