$bp-xs: 540px !default
$bp-s: 660px !default
$bp-sm: 780px !default
$bp-m: 900px !default
$bp-ml: 1040px !default
$bp-l: 1180px !default
$bp-xl: 1340px !default
$bp-xxl: 1500px !default
$bp-1920px: 1920px !default
$bp-2560px: 2560px !default

$size-base: 1.6rem !default
$size-xxs: $size-base !default
$size-xs: $size-base * 1.5 !default
$size-s: $size-base * 2 !default
$size-m: $size-base * 3 !default
$size-l: $size-base * 5 !default
$size-xl: $size-base * 8 !default
$size-xxl: $size-base * 12 !default

$grid-width: 118rem !default
$grid-columns: 12 !default
$gutter-x: $size-xs !default
$gutter-y: $size-s !default
$gutter-outer: $gutter-x * 2 !default
$gutter-outer-responsive: 5vw !default