$grid-width: 118rem !default
$grid-columns: 12 !default
$gutter: 2.6rem !default
$gutter-outer: $gutter * 2 !default
$gutter-outer-responsive: 5vw !default

$bp-xs: 450px !default
$bp-s: 625px !default
$bp-sm: 800px !default
$bp-m: 975px !default
$bp-ml: 1150px !default
$bp-l: 1325px !default
$bp-xl: 1500px !default
$bp-xxl: 1675px !default
$bp-1920px: 1920px !default
$bp-2560px: 2560px !default

$xs: 480px
$s: 620px
$sm: 760px
$m: 900px
$ml: 1040px
$l: 1180px
$xl: 1320px
$xxl: 1460px

$size-base: 1.6rem !default
$size-xxs: $size-base !default
$size-xs: $size-base * 1.5 !default
$size-s: $size-base * 2 !default
$size-m: $size-base * 3 !default
$size-l: $size-base * 5 !default
$size-xl: $size-base * 8 !default
$size-xxl: $size-base * 12 !default

