$bp-xs: 540px !default
$bp-s: 660px !default
$bp-sm: 780px !default
$bp-m: 900px !default
$bp-ml: 1040px !default
$bp-l: 1180px !default
$bp-xl: 1340px !default
$bp-xxl: 1500px !default
$bp-1920px: 1920px !default
$bp-2560px: 2560px !default
$spacing-unit: 1rem !default
$grid-width: 118rem !default
$grid-columns: 12 !default
$gutter-x: $spacing-unit * 3 !default
$gutter-y: $spacing-unit * 3 !default
$gutter-outer: 4rem !default
$gutter-outer-responsive: 5vw !default