@use 'default' as *
@forward 'default'

// Layout variables
// if you change the grid-width, make sure to also change
// the template.gridWidth setting in /Configuration/Sets/Puck/config.yaml !
$grid-width: 128rem
$bp-mobile-nav: ml
$spacing-unit: 1rem

// rfs variables
$rfs-base-value: 1.4rem
$rfs-factor: 10
$rfs-breakpoint: 1000px
$rfs-rem-value: 10