@use 'sass:math'
@import 'default'

// GRID VARIABLES
// if you change the grid-width, make sure to also change
// the template.gridWidth setting in /Configuration/Sets/Puck/config.yaml !
$grid-width: 110rem
$bp-mobile-nav: ml

// FONT-SIZES
$rfs-base-value: 1.4rem
$rfs-factor: 10
$rfs-breakpoint: 1000px
$rfs-rem-value: 10

$fs-basic: 1.7rem
$fs-h1: 5rem
$fs-h2: 4rem
$fs-h3: 3rem
$fs-h4: 2rem
$fs-small: 1.5rem
$fs-extra-small: 1.3rem

// COLORS
$grey-1: #3a3d3a
$grey-2: #595d59
$grey-3: #8c8d8b
$grey-4: #c9c9c9
$grey-5: #eeeeee
$white: #fff
$white-soapstone: #ece6da
$black-chaos: #0d0f0e
$black-cursed: #121412
$black-thamar: #181a18
$yellow-grandis: #ffcb72
$green-dusty-jade: #6faf99
$green-zomp: #33a891
$green-hyperpop: #26eaa4
$blue-stillwater: #6fa8af
$blue-fischer: #339ea8
$blue-ice-climber: #28e1d2


// FONT-FAMILIES
$ff-text: 'Nunito'
$ff-headline: 'Roboto'
$ff-alt1: $ff-text
$ff-alt2: $ff-text


// STYLES
$border-radius-s: .5rem
$border-radius-m: 1.5rem
$box-shadow-s: 0 3px 4px rgb(0 0 0 / 12%)
$box-shadow-m: 0 5px 7px rgb(0 0 0 / 18%)

// COMPONENTS
$page-header-height: 9rem
$page-header-height-mobile: 8rem

// z-indexes for fixed / absolute relative to root
$z-index-modal: 1000
$z-index-modal-backdrop: 999
$z-index-header: 100
$z-index-header-menu: 200
$z-index-header-menu-backdrop: 199
$z-index-header-burger: 201


\:root
  // ### border-radius / shadows
  --border-radius-s: #{ $border-radius-s }
  --border-radius-m: #{ $border-radius-m }
  --border-radius-default: 0

  --box-shadow-s: #{ $box-shadow-s }
  --box-shadow-m: #{ $box-shadow-m }

  // ### widths / heights
  --grid-gutter-x: #{ $gutter }
  --grid-gutter-y: #{ $gutter }
  --grid-columns: #{ $grid-columns }

  --height-page-header: #{ $page-header-height }
  --margin-block-page-header: 0
  @media(max-width: 800px)
    --height-page-header: #{ $page-header-height-mobile }
    --margin-block-page-header: 1rem

  --width-grid: #{ $grid-width }
  --width-page: 3840px

  --clip-slant-height: 6vw

  --scrollbar-width: 15px

  --scroll-to-offset: 140
  --main-scroll-target: html

