@use 'sass:math'
@import 'default'

// GRID VARIABLES
$page-width: 120rem
$bp-mobile-nav: ml

// FONT-SIZES
$rfs-base-value: 1.4rem
$rfs-factor: 8
$rfs-breakpoint: 1000px
$rfs-rem-value: 10

$fs-basic: 1.8rem
$fs-h1: 5rem
$fs-h2: 4rem
$fs-h3: 3rem
$fs-h4: 2rem
$fs-small: 1.6rem
$fs-extra-small: 1.4rem

// COLORS
$black: #1c1818
$grey-1: #3d3a3a
$grey-2: #5d5959
$grey-3: #8c8b8b
$grey-4: #c9c9c9
$grey-5: #eeeeee
$white: #fff

$yellow-equator: #d9bc5e
$purple-medium: #ae86e3
$blue-baby: #50DFFE
$orange-rajah: #faae61
$green-mantis: #84D162
$green-burnham: #234138
$green-cardin: #16261e
$green-black-bean: #131c18


// FONT-FAMILIES
$ff-text: 'Nunito'
$ff-headline: 'Roboto'
$ff-alt1: $ff-text
$ff-alt2: $ff-text

// STYLES
$border-radius-s: .5rem
$border-radius-m: 1.5rem
$box-shadow-s: 0 3px 4px rgb(0 0 0 / 12%)
$box-shadow-m: 0 5px 7px rgb(0 0 0 / 18%)

// COMPONENTS
$page-header-height: 9rem
$page-header-height-mobile: 8rem

// z-indexes for fixed / absolute relative to root
$z-index-modal: 1000
$z-index-modal-backdrop: 999
$z-index-header: 100
$z-index-header-menu: 200
$z-index-header-menu-backdrop: 199
$z-index-header-burger: 201


\:root
  // ### border-radius / shadows
  --border-radius-s: #{ $border-radius-s }
  --border-radius-m: #{ $border-radius-m }
  --border-radius-default: 0

  --box-shadow-s: #{ $box-shadow-s }
  --box-shadow-m: #{ $box-shadow-m }

  // ### widths / heights
  --grid-gutter-x: #{ $gutter }
  --grid-gutter-y: #{ $gutter }
  --grid-columns: #{ $grid-columns }

  --height-page-header: #{ $page-header-height }
  --margin-block-page-header: 2.5rem
  @media(max-width: 800px)
    --height-page-header: #{ $page-header-height-mobile }
    --margin-block-page-header: 1rem

  --width-page: #{ $page-width }

  --clip-slant-height: 6vw

  --scrollbar-width: 15px

  --scroll-to-offset: 140
  --main-scroll-target: html
