
// STYLES
$border-radius-s: .8rem
$border-radius-m: 1.6rem
$box-shadow-s: 0 3px 4px rgb(0 0 0 / 12%)
$box-shadow-m: 0 5px 7px rgb(0 0 0 / 18%)

// COMPONENTS
$page-header-height: 9rem
$page-header-height-mobile: 8rem

// z-indexes for fixed / absolute relative to root
$z-index-modal: 1000
$z-index-modal-backdrop: 999
$z-index-header: 100
$z-index-header-menu: 200
$z-index-header-menu-backdrop: 199
$z-index-header-burger: 201