<fc:component>
	<fc:param name="name" type="string" optional="1" default="l-carousel"/>
	<fc:param name="id" type="string"/>
	<fc:param name="arrows" type="boolean" optional="1" default="1"/>
	<fc:param name="pagination" type="boolean" optional="1" default="0"/>
	<fc:param name="trackOverflow" type="string" optional="1" default="hidden"/>
	<fc:param name="align" type="string" optional="1" default="start"/>
	<fc:param name="carouselAttributes" type="array" optional="1" default="{0:0}"/>
	<fc:renderer>

		<u:var set="splideOptions"
			   value="{
            pagination: pagination,
            arrows: arrows
          }"/>

		<pk-carousel
			class="{name} {class} splide"
			id="{id}"
			data-carousel="{carouselAttributes -> f:format.json()}"
			data-carousel.base-splide-class="{name}"
			data-carousel.splide-options="{splideOptions -> u:array(merge:carouselAttributes.splideOptions) -> f:format.json()}">
			<div class="{name}__track splide__track -overflow-{trackOverflow}">
				<div class="{name}__list splide__list -align-{align}">
					<fc:slot name="content"/>
				</div>
			</div>

			<f:if condition="{arrows}">
				<div class="{name}__controls {class}__arrows splide__arrows">
					<button class="{name}__controls__prev splide__arrow--prev" aria-controls="{id}">
						<icon:svg icon="arrow-left-regular"/>
					</button>
					<button class="{name}__controls__next splide__arrow--next" aria-controls="{id}">
						<icon:svg icon="arrow-right-regular"/>
					</button>
				</div>
			</f:if>

		</pk-carousel>

	</fc:renderer>
</fc:component>



