

<html>
    {field.title -> u:string(explode:'|') -> u:var(set:'labels')}
    <f:if condition="{settings.main.moresteps}">
        <f:then>
            <p class="{name}__required-note">
                *Pflichtfeld
            </p>
            <div class="{name}__page__navigation">
                <f:if condition="!{pageIteration.isFirst}">
                    <div class="{name}__page__prev e-button"
                         data-trigger="form-page::toggle#form-{form.uid}-page-{u:math(eval:'{pageIteration.index} - 1')}"
                         data-form-page::toggle:validate="false"
                         data-form-page::toggle:scroll-into-view
                         role="button">
                        {labels.0 -> f:format.trim()}
                    </div>
                </f:if>
                <f:if condition="!{pageIteration.isLast}">
                    <div class="{name}__page__next e-button"
                         data-trigger="form-page::toggle#form-{form.uid}-page-{u:math(eval:'{pageIteration.index} + 1')}"
                         data-form-page::toggle:validate
                         data-form-page::toggle:scroll-into-view
                         role="button">
                        {labels.1 -> f:format.trim()}
                    </div>
                </f:if>
                <f:if condition="{pageIteration.isLast}">
                    <f:render partial="Form/Field/Submit" arguments="{field:{title:'{labels.1 -> f:format.trim()}'}, name:name, iteration:iteration, pageIteration:pageIteration}" />
                </f:if>
            </div>
        </f:then>
        <f:else>
            <f:if condition="{pageIteration.isLast}">
                <p class="{name}__required-note">
                    *Pflichtfeld
                </p>
                <f:render partial="Form/Field/Submit" arguments="{field:{title:'{labels.1 -> f:format.trim()}'}, name:name, iteration:iteration, pageIteration:pageIteration}" />
            </f:if>
        </f:else>
    </f:if>


</html>

