{namespace vh=In2code\Powermail\ViewHelpers}

<f:render partial="Form/FieldLabel" arguments="{_all}"/>

<div class="select-wrap">
    <vh:form.selectField
            options="{field.modifiedSettings}"
            property="{field.marker}"
            class="{name}__select {settings.styles.framework.fieldClasses} {vh:validation.errorClass(field:field, class:'powermail_field_error')}"
            id="powermail_field_{field.marker}"
            additionalAttributes="{vh:validation.validationDataAttribute(field:field)}"
            multiple="{field.multiselectForField}"
            value="{vh:misc.prefillField(field:field, mail:mail)}"/>
</div>
<f:if condition="{field.multiselect}">
    <f:if condition="{settings.validation.client}">
        <div class="powermail_field_error_container powermail_field_error_container_{field.marker}"></div>
    </f:if>
</f:if>

