@use '01-tools/all' as *

.m-anchorMenu
	&__wrap
		position: sticky
		top: .5em
		z-index: 100
		margin-top: 0
		background: transparent
		transition: top .5s
		:where(.m-header.--scroll:not(.--scrollDown)) ~ .m-main &
			top: calc(var(--height-page-header) - 1em)

	&__list
		+flex(row, center, flex-start, wrap)
		+typo-nav
		width: fit-content
		margin: auto
		padding: 1em
		gap: .5em 1em
		background: var(--background)
		border: 2px solid var(--color-button-border)
		border-radius: var(--border-radius-m)

	&__header

	&__link
		color: var(--color-link)
		&.--visibleTarget
			text-decoration: underline
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)

