@use '01-tools/all' as *

.m-footer__nav
	&
		+typo-nav

	& + &
		margin-top: spacing(s)

	&__list
		display: flex
		justify-content: center
		@media (max-width(xs))
			flex-direction: column
			align-items: center

	&__link
		display: block
		padding: .5em 1em
		color: var(--color)
		border-radius: var(--border-radius-s)
		transition: background .15s
		&:hover,
		&:focus-visible
			background: var(--background-card)

	&.-icons &__list
		flex-direction: row

	&.-icons &__link
		line-height: 1
		padding: .5em
		i
			font-size: 1.5em
