@use '01-tools/all' as *

.m-header__burger
	&
		+flex(column, space-between, center)
		position: relative
		width: px-rem(40)
		height: px-rem(30)
		padding: px-rem(5)
		margin-right: px-rem(-5)
		color: var(--color)
		cursor: pointer
		border-radius: var(--border-radius-s)
		transition: transform .15s, box-shadow .15s
		@media (min-width($bp-mobile-nav))
			display: none

	&.--active &__slice:nth-child(1)
		transform: translateY(px-rem(10))

	&.--active &__slice:nth-child(3)
		transform: translateY(px-rem(-10))

	&:hover,
	&:focus-visible

	&__slice
		height: 2.5px
		width: 100%
		background: currentColor
		border-radius: 2px
		transition: transform .15s