@use '01-tools/all' as *

.m-header
	&
		//position: sticky
		position: fixed
		top: 0
		z-index: var(--z-index-header)
		width: 100%
		max-width: var(--width-page)
		height: var(--height-page-header)
		margin-bottom: var(--margin-block-page-header)
		background: var(--background)
		border-bottom: 2px solid transparent
		transition: background .5s, box-shadow .2s, border-color .2s, transform .5s

	&:where(.--scroll)
		border-color: var(--color-button-border)
		&.--scrollUp, &.--scrollDown
		//transition: background .5s, transform .4s
		&.--scrollDown
			transform: translateY(-100%)

	&__container
		+flex(row, space-between, center, nowrap)
		+grid-container
		padding-inline: var(--gutter-outer)
		height: 100%

	&__anchor
		position: relative
		display: flex
		border-radius: 100%
		&__logo
			height: px-rem(40)
			width: px-rem(40)
			transition: background .15s
		&:where(:hover, :focus-visible) &__logo
			background: radial-gradient(circle at center, var(--color-link--hover) 20%, transparent 20%)
