@use '01-tools/all' as *

.m-header__nav
	&__wrap
		+flex(column, flex-start, flex-end, nowrap)
		margin-left: auto
		@media (max-width($bp-mobile-nav))
			display: none

	&
		+typo-nav
		+flex(column, flex-end, flex-end)
		flex-grow: 1

	& + &
		@media (min-width($bp-mobile-nav))
			padding-left: 2em

	&__meta__wrap
		@media (min-width($bp-mobile-nav))
			display: flex

	&__list
		position: relative
		display: flex
		justify-content: flex-end

	&__link
		display: block
		padding: .5em 1em
		color: var(--color)
		border-radius: var(--border-radius-s)
		transition: background .15s
		&.-rootline
			text-decoration: underline
		&:hover,
		&:focus-visible
			background: var(--background-card)

	&__close
		display: none

	&__header
		display: none