@use '01-tools/all' as *

.m-menu__loadMoreButton
	&__wrap
		+flex(row, center, center)
		padding-top: spacing(s)

	&__button
		--padding-inline: var(--padding-block)
		border-radius: 100%
		line-height: 1

		.svg-icon
			display: block
			height: 1.2em