@use '01-tools/all' as *

.m-teaser
	&:where(:hover, :has(a:focus-visible)) :is(&__title, &__cta, &__arrow)
		color: var(--color-link--hover)

	&__card:is(:hover, :has(a:focus-visible))
		border-color: var(--color-link--hover)

	&__card
		transition: border-color .15s

	&__content
		+flex(row, flex-start, center, wrap)
		position: relative
		width: 100%

	&__heading
		width: 100%
		padding: 0

	&__link
		+flex(row, flex-start, flex-start, wrap)
		width: 100%

	&__title
		+typo-h3
		width: 100%
		padding: 0
		color: var(--color-link)
		transition: color .15s
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)

	&__date
		+font-size($font-size-small)
		order: -1
		font-variant-numeric: tabular-nums
		color: var(--color-emphasis)

	&__category
		+font-size($font-size-small)
		order: -1
		margin-left: auto
		color: var(--color-emphasis)
		&__list
			display: flex
		&__item:not(:first-child)::before
			content: '-'
			margin-inline: .25em

	&__icon
		order: -2

	&__subtitle
		width: 100%
		color: var(--color-emphasis)

	&__text
		width: 100%
		padding-top: 1em

	&__cta
		+flex(row, flex-start, center, nowrap)
		+typo-button
		gap: .5em
		margin-top: var(--paragraph-spacing)
		transition: color .15s
		&__wrap
			margin-top: auto
			margin-left: auto

	&__arrow
		position: absolute
		right: 0
		bottom: 0
		font-size: 2.4em
		color: transparentize(white, 0.85)
		transition: color .15s

	&__content:where(:has(&__arrow))
		padding-right: 4.5em
