@use '00-settings/variables' as *
@use '01-tools/functions' as *
@use '01-tools/mixins' as *

=color-space-base
	// basic
	color-scheme: only dark
	--color: #{ $white-soapstone }
	--color-alt: #{ $white-soapstone }
	--color-headline: #{ $green-dusty-jade }
	--color-accent: #{ $white-soapstone }
	--color-accent-alt: #{ $yellow-grandis }
	--background: #{ $black-thamar }
	--color-link: #{ $green-zomp }
	--color-link--hover: #{ $green-hyperpop }
	--color-link--disabled: #{ $grey-4 }

	// button
	--border-width-button: 2px
	--color-button: var(--background)
	--color-button--hover: var(--background)
	--color-button-border: transparent
	--color-button-border--hover: transparent
	--outline-color-button--focus: color-mix(in srgb, transparent, var(--background-button--hover) 30%)
	--background-button: var(--color-link)
	--background-button--hover: var(--color-link--hover)

	// button alt
	--color-button-alt: var(--color-button)
	--color-button-alt--hover: var(--color-button--hover)
	--color-button-alt-border: var(--color-button-border)
	--color-button-alt-border--hover: var(--color-button-border--hover)
	--outline-color-button-alt-focus: var(--outline-color-button--focus)
	--background-button-alt: var(--background-button)
	--background-button-alt--hover: var(--background-button--hover)

	// button light
	--color-button-light: var(--color-headline)
	--color-button-light--hover: var(--color)
	--color-button-light-border: transparent
	--color-button-light-border--hover: transparent
	--background-button-light: #{ $grey-3 }
	--background-button-light--hover: #{ $grey-4 }

	// input
	--color-input: var(--color)
	--color-input--active: var(--color)
	--color-input-border: transparent
	--color-input-border--active: transparent
	--background-input: #{ $black-cursed }
	--background-input--active: #{ $black-cursed }

	// modal
	--background-modal: #{ $black-cursed }
	--background-modal-backdrop: rgba(55, 60, 60, 0.2)
	--background-footer: #{ $black-cursed }

	// plyr
	--plyr-color-main: var(--color-link)

=color-space-dark-1
	--background: #{ $black-cursed }
	--color-headline: #{ $blue-stillwater}
	--color-link: #{ $blue-fischer }
	--color-link--hover: #{ $blue-ice-climber }
	--color-button: var(--background)
	--color-button--hover: #{ $black-cursed }
	--background-button: var(--color-link)
	--background-button--hover: var(--color-link--hover)
	--outline-color-button--focus: color-mix(in srgb, transparent, var(--background-button--hover) 30%)

=color-space-card
	+color-space-base
	--background: var(--background-modal)

=color-space-modal
	+color-space-base
	--background: var(--background-modal)

=color-space-footer
	--background: var(--background-footer)

=color-space-card-image-background
