@use '00-settings/variables' as *
@use '00-settings/overrides' as *
@use '01-tools/functions' as *
@use '01-tools/mixins' as *

$background: #0E1117
$background-alt: #101a1f
$text: #9198a1
$text-emphasis: white
$headline: white
$link: #4493f8
$link--hover: #2a7aef
$link2: #2e9a40
$link2--hover: #29903b
$control: #212830
$control--hover: #292f39
$control-border: #2f3641
$control-dark: #141b23
$typo3-brand: #ff8700

// todo: remove button styles, remove unnecessary sass variables
=color-space-base
	// basic
	--color: #{ $text }
	--color-emphasis: #{ $headline }
	--color-headline: #{ $headline }
	--color-accent: #{ $link }
	--background: #{ $background }
	--color-link: #{ $link }
	--color-link--hover: #{ $link--hover }
	--color-link--disabled: #{ rgba($text, 0.8) }

	// button
	--color-button: #{ $headline }
	--color-button--hover: #{ $headline }
	--color-button-border: #{ $control-border}
	--color-button-border--hover: #{ $control-border}
	--outline-color-button--focus: color-mix(in srgb, transparent, #{ $link--hover } 30%)
	--background-button: #{ $control }
	--background-button--hover: #{ $control--hover }
	--background-dropdown: #{ $control-dark }

	// input
	--color-input: #{ $text-emphasis }
	--color-input--active: #{ $text-emphasis }
	--color-input-border: #{ $control-border }
	--color-input-border--active: #{ $link--hover }
	--background-input: transparent
	--background-input--active: transparent

	// card
	--background-card: #{ $background-alt }
	--border-color-card: #{ $control-border }

	// modal
	--background-modal: #{ $background }
	--background-modal-backdrop: rgba(0, 0, 0, 0.5)
	--background-footer: #{ $background-alt }

	// plyr
	--plyr-color-main: #{ $link }

=color-space-dark-1
	--background: #{ $background-alt }
	--color-accent: #{ $link2 }
