@use 'sass:math'
@use 'sass:list'
@use '00-settings/overrides' as *
@use '01-tools/functions' as *
@use 'rfs/sass' as rfs with ($rfs-base-value: $rfs-base-value, $rfs-factor: $rfs-factor, $rfs-breakpoint: $rfs-breakpoint, $rfs-rem-value: $rfs-rem-value)

=responsive-size($values, $property)
	+rfs.rfs($values, $property)

=font-size($value)
	+rfs.rfs($value)

=grid-container($max-width: grid-container-width())
	width: 100%
	max-width: $max-width
	margin-inline: auto

=grid-row()
	display: flex
	flex-wrap: wrap
	gap: var(--gutter-y) var(--gutter-x)
	--calc-col-width: calc((100% - (var(--row-colspan) - 1) * var(--gutter-x)) / var(--row-colspan))

=grid-col($width: var(--row-colspan), $row-width: var(--row-colspan))
	flex-shrink: 0
	max-width: 100%
	flex-basis: auto
	width: round(down, (var(--calc-col-width) * var(--col-colspan) + var(--gutter-x) * (var(--col-colspan) - 1)), 1px)
	/* Safari 17 and older fallback */
	/* Safari 17 and older does not support round() with CSS variables(?), so we use a fallback */
	::-webkit-full-page-media, :future, :where(:root) &
		width: calc(var(--calc-col-width) * var(--col-colspan) + var(--gutter-x) * (var(--col-colspan) - 1))

=grid-col-width($width, $row-width: var(--row-colspan))
	@if $row-width != var(--row-colspan)
		--row-colspan: #{$row-width}
	--col-colspan: #{$width}
	@if $width != var(--row-colspan)
		& > *
			--row-colspan: #{$width}
			--calc-col-width: calc((100% - (var(--row-colspan) - 1) * var(--gutter-x)) / var(--row-colspan))

=grid-col-breakpoint($bp, $width, $row-width: var(--row-colspan))
	@media (max-width($bp))
		+grid-col-width($width, $row-width)



=flex( $direction: row, $justify: false, $align: false, $wrap: false)
	display: flex
	flex-direction: $direction
	@if $justify
		justify-content: $justify
	@if $align
		align-items: $align
	@if $direction == row and not $wrap
		flex-wrap: wrap
	@if $wrap
		flex-wrap: $wrap

=center($axis: 'both')
	position: absolute
	@if $axis == 'vertical'
		top: 50%
		transform: translateY(-50%)
	@else if $axis == 'horizontal'
		left: 50%
		transform: translate(-50%)
	@else if $axis == 'both'
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)

=cover($position: center)
	object-fit: cover
	object-position: $position
	height: 100%
	width: 100%

=cover-media($position: center)
	overflow: hidden
	& > div
		width: 100%
		height: 100%
	.e-media-player
		padding-top: 0
		width: 100%
		height: 100%

	& > picture > img, & > video, & > iframe, .e-media-player > img
		+cover($position)

=hover()
	@media (hover: hover)
		&:hover:not(:disabled)
			@content

=hover-child($parentClass)
	.#{$parentClass}:hover &
		@content

=hover-and-touch-devices()
	@media (hover: hover)
		&:hover:not(:disabled)
			@content
	@media (hover: none)
		@content