@use 'sass:math'
@use 'sass:list'
@use '00-settings/variables' as *
@use '01-tools/functions' as *
@use 'rfs/sass' as rfs with ($rfs-base-value: $rfs-base-value, $rfs-factor: $rfs-factor, $rfs-breakpoint: $rfs-breakpoint, $rfs-rem-value: $rfs-rem-value)

=responsive-size($values, $property)
  +rfs.rfs($values, $property)

=font-size($value)
  +rfs.rfs($value)


=grid-container($max-width: grid-container-width())
  width: 100%
  max-width: $max-width
  margin-inline: auto

//=grid-row($custom-gutter: $gutter)
//  display: flex
//  flex-wrap: wrap
//  margin-block: calc(var(--grid-gutter-y) * -.5)
//  margin-inline: calc(var(--grid-gutter-x) * -.5)
//  //gap: var(--grid-gutter-x) var(--grid-gutter-y)
//
//=grid-col($columns: var(--grid-columns), $custom-grid-columns: var(--grid-columns))
//  flex-shrink: 0
//  max-width: 100%
//  padding-inline: calc(var(--grid-gutter-x) * .5)
//  margin-block: calc(var(--grid-gutter-y) * .5)
//  flex-basis: auto
//  +grid-col-width($columns, $custom-grid-columns)
//
//=grid-col-width($columns, $custom-grid-columns: var(--grid-columns), $columns-mb: ())
//  width: calc(100% / #{$custom-grid-columns} * #{$columns})
//  &>*
//    --card-width: #{$columns}
//    @if $columns != #{var(--grid-columns)}
//      --grid-columns: #{$columns}
//
//=grid-col-mb($mb, $columns, $custom-grid-columns: var(--grid-columns))
//  @media (max-width($mb))
//    +grid-col-width($columns, $custom-grid-columns)



=grid-row()
  display: flex
  flex-wrap: wrap
  gap: var(--grid-gutter-x) var(--grid-gutter-y)

=grid-col($columns: var(--row-width), $custom-grid-columns: var(--row-width))
  flex-shrink: 0
  max-width: 100%
  flex-basis: auto
  width: calc((100% - (var(--row-width) - 1) * var(--grid-gutter-x)) * var(--column-width) / var(--row-width) + var(--grid-gutter-x) * (var(--column-width) - 1))
  +grid-col-width($columns, $custom-grid-columns)

=grid-col-width($columns, $custom-grid-columns: var(--row-width))
  @if $custom-grid-columns != var(--row-width)
    --row-width: #{$custom-grid-columns}
  --column-width: #{$columns}
  &>*
    --card-width: #{$columns}
    @if $columns != var(--row-width)
      --row-width: #{$columns}

=grid-col-mb($mb, $columns, $custom-grid-columns: var(--row-width))
  @media (max-width($mb))
    +grid-col-width($columns, $custom-grid-columns)





=flex( $direction: row, $justify: 0, $align: 0, $wrap: 0)
  display: flex
  flex-direction: $direction
  @if $justify
    justify-content: $justify
  @if $align
    align-items: $align
  @if $direction == row and not $wrap
    flex-wrap: wrap
  @if $wrap
    flex-wrap: $wrap

=center($axis: 'both')
  position: absolute
  @if $axis == 'vertical'
    top: 50%
    transform: translateY(-50%)
  @else if $axis == 'horizontal'
    left: 50%
    transform: translate(-50%)
  @else if $axis == 'both'
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

=cover($position: center)
  object-fit: cover
  object-position: $position
  height: 100%
  width: 100%

=cover-media($position: center)
  overflow: hidden
  &>div
    width: 100%
    height: 100%
  .e-media-player
    padding-top: 0
    width: 100%
    height: 100%

  &>picture>img, &>video, &>iframe, .e-media-player>img
    +cover($position)

=hover()
  @media (hover: hover)
    &:hover:not(:disabled)
      @content

=hover-child($parentClass)
  .#{$parentClass}:hover &
    @content

=hover-and-touch-devices()
  @media (hover: hover)
    &:hover:not(:disabled)
      @content
  @media (hover: none)
    @content
