<f:if condition="{settings}">
    <table class="table table-hover table-condensed" style="margin-top: 1em">
        <thead>
        </thead>
        <tbody>
		<f:render section="recordList" arguments="{records:processed.records,title:'Records'}"/>
		<f:render section="recordList" arguments="{records:processed.parents,title:'Parents'}"/>
		<f:render section="icons" arguments="{icons:processed.doktypeIcons,label:'Allowed types'}"/>
		<f:render section="boolean" arguments="{value:settings.demand.additionalSettings.navHide,label:'Respect hidden in menus'}"/>
		<f:render section="boolean" arguments="{value:settings.demand.additionalSettings.excludeCurrentPage,label:'Exclude current page'}"/>
		<f:render section="value" arguments="{value:settings.demand.limit,label:'Maximum displayed'}"/>
        <f:render section="value" arguments="{value:settings.demand.offset,label:'Number to skip'}"/>
        <f:if condition="{settings.demand.categoryGroups.main.conjunction} && {settings.demand.categoryGroups.main.uids}">
            <f:render section="value"
                      arguments="{value:settings.demand.categoryGroups.main.conjunction,label:'Category conjunction'}"/>
            <f:render section="recordList" arguments="{records:settings.demand.categoryGroups.main.uids,title:'Categories'}"/>
        </f:if>
        </tbody>
        <tbody>
		<f:if condition="{settings.demand.orderByRecordsProperty}">
			<f:then>
				<f:render section="boolean" arguments="{value:settings.demand.orderByRecordsProperty,label:'Order by records property'}"/>
			</f:then>
			<f:else>
				<f:if condition="{settings.demand.orderField} !== 'sorting'">
					<f:render section="value" arguments="{value:settings.demand.orderField,label:'Order by'}"/>
				</f:if>
				<f:if condition="{settings.demand.orderDirection} !== 'asc'">
					<f:render section="value" arguments="{value:settings.demand.orderDirection,label:'Order direction'}"/>
				</f:if>
			</f:else>
		</f:if>
        </tbody>
        <tbody>
        <f:if condition="{settings.pagination.enabled}">
            <f:render section="value" arguments="{value:settings.pagination.itemsPerPage,label:'Items per page'}"/>
        </f:if>
        </tbody>
        <tbody>
        <f:if condition="{settings.categoryFilter.enabled}">
            <f:render section="recordList" arguments="{records:processed.filter_categories,title:'Filter categories'}"/>
            <f:render section="recordList"
                      arguments="{records:processed.filter_category_groups,title:'Filter category parents'}"/>
			<f:render section="boolean"
					  arguments="{value:settings.categoryFilter.multiSelect,label:'Enable multi-select in filter'}"/>
			<f:render section="boolean"
					  arguments="{value:settings.categoryFilter.checkPotential,label:'Disable buttons without potential results'}"/>
        </f:if>
        </tbody>
    </table>
</f:if>

<f:section name="recordList">
    <f:if condition="{records}">
        <tr>
            <th style="width:30%">{title}</th>
            <td>
                <f:for each="{records}" as="record" iteration="i">
                    <a aria-label="{record.backend_link_title}" title="{record.backend_link_title}"
                       data-bs-toggle="tooltip" href="{record.backend_link}">
                        <core:iconForRecord table="{record.table}" row="{record}"/>
                        {record.title}
                    </a>
                    <f:if condition="!{i.isLast}">,</f:if>
                </f:for>
            </td>
        </tr>
    </f:if>
</f:section>

<f:section name="boolean">
    <f:if condition="{value}">
        <tr>
            <th style="width:30%">{label}</th>
            <td>
                <core:icon identifier="actions-check" size="small"/>
            </td>
        </tr>
    </f:if>
</f:section>

<f:section name="value">
    <f:if condition="{value}">
        <tr>
            <th style="width:30%">{label}</th>
            <td>{value}</td>
        </tr>
    </f:if>
</f:section>

<f:section name="icons">
    <f:if condition="{icons}">
        <tr>
            <th style="width:30%">{label}</th>
            <td>
                <f:for each="{icons}" as="icon" key="key">
                    <span title="{key}"><core:icon identifier="{icon}" size="small"/></span>
                     
                </f:for>
            </td>
        </tr>
    </f:if>
</f:section>