@use '01-tools/all' as *

.e-module-header

	&
		+flex(column,flex-start,flex-start,nowrap)
		gap: bodyEm()
		margin-bottom: spacing(s)
		color: var(--color-emphasis)
		&.-class-h3, &.-class-h4
			margin-bottom: bodyEm()

	&__header, &__subheader
		padding-bottom: 0

	&__subheader
		&.topline
			order: -1
