.e-media

.-background-image
  height: 100%
  width: 100%
  background-position: center top
  background-size: cover

.-reserve-height
  display: block
  position: relative
  img
    position: absolute
    top: 0

