.e-media

.-backgroundImage
	height: 100%
	width: 100%
	background-position: center top
	background-size: cover

.-reserveHeight
	display: block
	position: relative

	img
		position: absolute
		top: 0

