@use '01-tools/all' as *

=e-text-list
	--width-list-offset: 1.4em
	--width-list-symbol: .5em
	--height-list-symbol: .5em
	--color-list-symbol: var(--color-accent)

	&
		padding-left: 0

	&:last-child
		margin-bottom: 0

	& > li
		margin-bottom: .5em
		padding-left: var(--width-list-offset)

		&:last-child
			margin-bottom: 0

	& > li:before
		position: relative
		bottom: .1em
		content: ''
		box-sizing: border-box
		display: inline-block
		width: var(--width-list-symbol)
		height: var(--height-list-symbol)
		margin-left: calc(-1 * var(--width-list-offset))
		margin-right: calc(var(--width-list-offset) - var(--width-list-symbol))
		vertical-align: middle
		color: var(--color-list-symbol)
		background: var(--color-list-symbol)

	&:is(ul) > li:before
		border-radius: 50%

	&:is(ol) > li
		counter-increment: ol-counter

	&:is(ol) > li:before
		content: counter(ol-counter) '.'
		height: 100%
		bottom: .075em
		background: var(--color-list-symbol)
		text-align: center
		font-weight: bold
		background: none

	& > li > ol
		margin-top: .5em
		& > li
			counter-increment: ol-sub-counter
		& > li:before
			content: counter(ol-sub-counter)

	& > li > ul
		margin-top: .5em
		& > li:before
			transform: scale(.6)

	@for $i from 1 through 20
		&:is(ol)[start="#{$i}"]
			$reset: $i - 1
			counter-reset: ol-counter $reset