
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-card"/>
  <fc:param name="width" type="integer" optional="1"/>
  <fc:param name="media" type="array" optional="1"/>
  <fc:param name="mediaSize" type="string" optional="1" default="cover" />
  <fc:param name="mediaWidth" type="integer" optional="1" default="" />
  <fc:param name="mediaLayout" type="string" optional="1" default="above" />
  <fc:param name="cropVariant" type="string" optional="1" default="default" />
  <fc:param name="attributes" type="array" optional="1"/>
  <fc:renderer>

    {u:var(set:'bemMod', value: {
      layout: mediaLayout,
      media-size: mediaSize,
      media-width: mediaWidth}
    )}
    <div class="{u:bem(mod:bemMod)} {class} {f:if(condition:media.0,then:'-media')}"
         {attributes -> u:renderAttributes()}>
      <div class="{u:bem(el:'content', mod:bemMod)}">
        <fc:slot name="content"/>
      </div>
      <f:if condition="{mediaWidth} > 4 || !{mediaWidth}">
        <f:then>
          <f:variable name="calcWidth" value="{settings.gridWidth}"/>
        </f:then>
        <f:else if="{mediaWidth} > 2">
          <f:variable name="calcWidth" value="{u:math(eval:'{settings.gridWidth}/2')}"/>
        </f:else>
        <f:else>
          <f:variable name="calcWidth" value="{u:math(eval:'{settings.gridWidth}/4')}"/>
        </f:else>
      </f:if>
      <f:if condition="{media}">
        <element:media
                name="{name}"
                class="{u:bem(el:'figure', mod:bemMod)}"
                file="{media.0}"
                cropVariant="{cropVariant}"
                width="{calcWidth}"
                sources="{
                xs: {width: 450, cropVariant: cropVariant},
                m: {width: 975, cropVariant: cropVariant}
                }"
                breakpointSources="1"
                showTitle="{f:if(condition: '{mediaSize} == \'contain\'', then: '1', else: '0')}"
                showDesc="{f:if(condition: '{mediaSize} == \'contain\'', then: '1', else: '0')}"/>
      </f:if>
    </div>

  </fc:renderer>
</fc:component>
