.e-button-group
  &
    --grid-gutter-x: 1.5rem
    +flex(row,flex-start,flex-start)
    margin: calc( -0.5 * var(--grid-gutter-x) )

  &.u-text-center
    justify-content: center
  &.u-text-right
    justify-content: flex-end


  & + &
    margin-top: calc( -1 * var(--grid-gutter-x) )

  [class*='e-button-']
    margin: calc( 0.5 * var(--grid-gutter-x) )
    &:hover,
    &:focus,
    &:active,
    &.--active
      z-index: 1

  &.-gutter-0,
  &[data-button-group-gutter='0']
    &
      margin-inline: 0

    [class*='e-button-']
      margin-inline: 0
      &:last-child
        border-top-left-radius: 0
        border-bottom-left-radius: 0
        margin-left: calc( -0.5 * var(--border-width-button) )
      &:first-child
        border-top-right-radius: 0
        border-bottom-right-radius: 0
        margin-right: calc( -0.5 * var(--border-width-button) )
      &:not(:first-child):not(:last-child)
        border-radius: 0
        margin-inline: calc( -0.5 * var(--border-width-button) )
