.e-control-to-top
  &
    +rfs(right, $gutter-outer)
    position: fixed
    right: 4rem
    bottom: 4rem
    z-index: 9
    height: 2.25em
    width: 2.25em
    color: white
    border-radius: $border-radius-s
    opacity: 0
    pointer-events: none
    border: 2px solid white
    box-shadow: $box-shadow-xs
    transform: translateY(12px)
    transition: background .15s, transform .25s, opacity .25s, border-color .15s
    @each $mb, $value in $gutter-outer-mb
      +media($mb, down)
        right: $value
    +media(s)
      display: none

  &.-scroll
    opacity: 1
    pointer-events: initial
    transform: translateY(0px)

  &.-scroll:hover
    opacity: 1
    transform: translateY(-6px)

  &__icon
    +center(both)
