

$header-trans-bp: sm
$header-color-trans: 0.3s
$nav-slide-trans: 0.2s
$header-color-trans-mobile: 0.4s
$nav-slide-trans-mobile: 0.3s
$burger-width: 4rem
$menu-animation-duration: 280ms
$menu-animation-timing: ease-out
$slice-distance: 1.1rem
$slice-degree: 45deg



.e-control-burger
  &
    position: relative
    width: $burger-width
    height: 3rem
    cursor: pointer
    transition: transform .15s

  &.-active
  //transform: scale(.6) translateX(30%)

  &__slice
    display: block
    position: absolute
    width: $burger-width
    height: 3px
    background: black
    transform-origin: 50% 50%
    transition: transform $menu-animation-duration $menu-animation-timing, border-color $header-color-trans, background .15s

  .-burger-open &__slice

  &.-active &__slice
    transition: transform $menu-animation-duration $menu-animation-timing, border-color $header-color-trans, background .15s

  &__slice:nth-child(1)
    top: 0
    z-index: 2

  &.-active &__slice:nth-child(1)
    animation: burger-open-top $menu-animation-duration $menu-animation-timing forwards

  &.-closing &__slice:nth-child(1)
    animation: burger-close-top $menu-animation-duration $menu-animation-timing forwards

  &__slice:nth-child(2)
    top: $slice-distance
    opacity: 1
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear ($menu-animation-duration / 2), border-color $header-color-trans, background .15s

  &.-active &__slice:nth-child(2)
    opacity: 0
    transition: transform $menu-animation-duration $menu-animation-timing, opacity 0ms linear ($menu-animation-duration / 2), background .15s

  &__slice:nth-child(3)
    top: $slice-distance*2

  &.-active &__slice:nth-child(3)
    animation: burger-open-bot $menu-animation-duration $menu-animation-timing forwards

  &.-closing &__slice:nth-child(3)
    animation: burger-close-bot $menu-animation-duration $menu-animation-timing forwards




@keyframes burger-open-top
  50%
    transform: translate3d(0, $slice-distance, 0)
  100%
    transform: translate3d(0, $slice-distance, 0) rotate($slice-degree)

@keyframes burger-open-bot
  50%
    transform: translate3d(0, -$slice-distance, 0)
  100%
    transform: translate3d(0, -$slice-distance, 0) rotate(-$slice-degree)

@keyframes burger-close-top
  0%
    transform: translate3d(0, $slice-distance, 0) rotate($slice-degree)
  50%
    transform: translate3d(0, $slice-distance, 0) rotate(0deg)
  100%
    transform: translate3d(0, 0, 0)

@keyframes burger-close-bot
  0%
    transform: translate3d(0, -$slice-distance, 0) rotate(-$slice-degree)
  50%
    transform: translate3d(0, -$slice-distance, 0) rotate(0deg)
  100%
    transform: translate3d(0, 0, 0)
