.e-control-prev-next
  &__button
    position: relative
    height: 2.25em
    width: 2.25em
    margin: 0 .25em
    border-radius: $border-radius-s
    transition: color .15s, background .15s, opacity .15s

  &__button:hover
    background: white

  &__button.glide__arrow--disabled
    opacity: .66
    cursor: default

  &__button.-left

  .d-html &__icon
    +center(both)
    height: 1em
    width: 1em


