@import '08-utilities/utilities'
@import '00-settings/icon-font'

.cke_editable
  .e-button-primary
    padding: .5em 1em
    border: 1px solid
    border-radius: .5em

  .-small
    font-size: .75em

  .-intro
    font-size: 1.25em

  .-big
    font-size: 1.5em

  h3
    text-align: center

  [class*="icon--"],
  span.icon--

