@use '../01-tools/all' as *
@use 'e-button'

.e-dropdown
	&
		position: relative

	&__button
		min-width: 12em
		text-align: left
		padding-right: calc(var(--padding-inline) + 2em) !important
		&__icon:before
			transition: transform .15s
		&.--active &__icon:before
			transform: rotateX(180deg)

	&__dialog
		position: absolute
		top: calc(100% + .25em)
		left: 0
		z-index: 99
		padding: .75em 0
		min-width: 12em
		visibility: hidden
		background: var(--background-dropdown)
		border: 2px solid var(--color-button-border)
		border-radius: var(--border-radius-s)
		box-shadow: var(--box-shadow-m)
		opacity: 0
		transition: opacity .17s
		&.--active
			visibility: visible
			opacity: 1
		&.--deactivating
			visibility: visible

	&__option
		+flex(row, space-between, center)
		padding: .5em 1em
		color: var(--color)
		font-weight: 600
		&.-active
			color: var(--color-emphasis)
		&:hover, &:focus-visible
			color: var(--color-link--hover)
		&.-disabled
			pointer-events: none
			opacity: .5


