<f:variable name="styleAttr"
			value="style=--formal-field-width:{field.width}%"/>
<f:variable name="conditionAttr"
			value="{f:if(condition:'{field.js_display_condition}',then:'data-condition=\'{field.js_display_condition}\'')}"/>

<div class="{name}__field -type-{field.type}"
	 data-wrap-for="{field.identifier}"
	 {styleAttr} {conditionAttr}>
	{content -> f:format.raw()}
	<f:if condition="{session.errorsByField.{field.identifier}}">
		<div class="{name}__field__error">
			<f:for each="{session.errorsByField.{field.identifier}}" as="error">
				{error.message}
			</f:for>
		</div>
	</f:if>
</div>