<f:if condition="{session}">
	<div data-session>
		<f:form.hidden name="session[id]" value="{session.id}"/>
		<f:form.hidden name="session[previousStep]" value="{step}"/>
		<f:for each="{session.filenames}" as="value" key="key">
			<f:form.hidden name="session[filenames][{key}]" value="{value}"/>
		</f:for>
		<f:for each="{session.values}" as="value" key="identifier">
			<f:if condition="{value.0}">
				<f:then>
					<f:for each="{value}" as="valueItem" iteration="i">
						<f:form.hidden name="{formName}[{identifier}][]" value="{valueItem}"/>
					</f:for>
				</f:then>
				<f:else>
					<f:form.hidden property="{identifier}" value="{value}"/>
				</f:else>
			</f:if>
		</f:for>
	</div>
</f:if>