
=media-down-text-media($bp:s, $bp-in-col:m)
  +media-down($bp)
    @content
  .m-text-columns__list &
    +media-down($bp-in-col)
      @content
=media-up-text-media($bp:s, $bp-in-col:m)
  +media-up($bp)
    @content
  .m-text-columns__list &
    +media-up($bp-in-col)
      @content


=text-media-item($layout: gallery, $img-pos: above, $setting: null, $name: '.m-text-media')


  // image gallery above/below text
  @if $layout == gallery
    &
    #{$name}__row

    #{$name}__media,
    #{$name}__text
      width: 100%
      &>*
        --grid-columns: inherit

    @if $img-pos == above
      #{$name}__media + #{$name}__text
        +spacing(top, m)

    @if $img-pos == below
      #{$name}__media
        order: 2
      #{$name}__media + #{$name}__text.-bodytext
        +spacing(bottom, m)


  // image column beside text
  @if $layout == beside
    #{$name}__row
      +media-down-text-media()
        //display: flex
        //flex-direction: column-reverse
        //justify-content: flex-start

    #{$name}__text,
    #{$name}__media
      //+grid-col(1,2)
      +media-down-text-media()
        width: 100%

    #{$name}__media
      @if $img-pos == right
        +media-up-text-media()
          order: 2


  // image next to floating text
  @if $layout == float
    &
      display: flex
      flex-direction: column

    #{$name}__row
      +grid-row($gutter)
      //+rfs($gutter * 2, --grid-gutter-y)
      display: block
      +media-up(sm)
        +margin-bottom(-$gutter)
        --grid-gutter-y: 0
      +media-down(sm)
        display: flex
        flex-direction: column-reverse

    #{$name}__text
      +grid-col(1,1)
      +media-up(sm)
          +margin-bottom($gutter)

    #{$name}__media
      +media-up(sm)
        +margin-bottom($gutter)
      +media-down(sm)
        width: 100%
      @if $img-pos == right
        +media-up(sm)
          +margin-left($gutter)
          float: right
      @if $img-pos == left
        +media-up(sm)
          +margin-right($gutter)
          float: left

  //@if $layout == beside or $layout == float
  //  #{$name}__media.-layout-cols6-5 #{$name}__figure
  //    max-width: width-by-cols(5) + $gutter
  //    @if $img-pos == right
  //      margin-left: auto

  // image and text in box (image full height)
  @if $layout == box
    &
      background: white

    #{$name}__row
      +grid-row(0)
      align-items: stretch

    #{$name}__text,
    #{$name}__media
      +grid-col(1,2)
      +media-down-text-media(m,l)
        width: 100%

    #{$name}__text
      +spacing(both, xl)
      padding-inline: 5em
      +media-down-text-media(m,l)
        +spacing(top, l)
        padding-inline: 3em

    #{$name}__media
      @if $img-pos == right
        +media-up-text-media(m,l)
          order: 2

    #{$name}__gallery
      height: 100%

    #{$name}__figure
      +media-up-text-media(m,l)
        +cover-media
        height: 100%

  @if $layout == card
    &
      +spacing(top, s)
      +spacing(bottom, m)
      +rfs(padding-inline, $gutter*1.5)
      background: white

    #{$name}__row
      +flex(column)
    #{$name}__text
    #{$name}__media
      @if $setting == full-width
        +rfs(margin-inline, -$gutter*1.5)
      @if $img-pos == above
        +spacing(bottom,s)
        @if $setting == full-width
          +spacing(top, s, margin, -1)
      @if $img-pos == below
        +spacing(top,s)
        order: 2
        @if $setting == full-width
          +spacing(bottom, s, margin, -1)
    #{$name}__figure

.m-text-media
  &.-orient-1
    +text-media-item(float,right)
  &.-orient-2
    +text-media-item(float,left)
  &.-orient-3
    +text-media-item(beside,right)
  &.-orient-4
    +text-media-item(beside,left)
  &.-orient-5
    +text-media-item(gallery,above)
  &.-orient-6
    +text-media-item(gallery,below)

  //
  //&.-orient-7
  //  +text-media-item(box,right)
  //&.-orient-8
  //  +text-media-item(box,left)
  //&.-orient-9
  //  +text-media-item(card,above)
  //&.-orient-10
  //  +text-media-item(card,below)
  //&.-orient-11
  //  +text-media-item(card,above,full-width)
  //&.-orient-12
  //  +text-media-item(card,below,full-width)

  &__file
    margin-inline: auto

  &__mp3
    width: 100%

  &__image-desc
    text-align: center

