.m-page-main
  &
    z-index: 2
    display: flex
    flex-direction: column
    flex-grow: 1
    transition: opacity .15s

  .-navigation-menu-open &


  &__modals
    postion: relative
    z-index: 99