.m-page-header
  &
    position: absolute
    z-index: 10
    top: 0
    left: 0
    width: 100%
    height: var(--page-header-height)
    box-sizing: content-box
    border-bottom: 2px solid transparent
    transition: background .5s, box-shadow .2s, border-color .15s, transform .15s

  .-burger-open &,
  .-burger-open &__background
    //border-color: $white
    //background: $brown-carrara

  .-modal-open &.-scroll
    transform: translateY(-100%)

  &.-scroll
    --page-header-height: #{$page-header-height-sticky}
    position: fixed
    top: 0
    border-color: lightgrey

  &__background
    position: absolute
    z-index: -1
    top: 0
    left: 0
    width: 100%
    height: var(--page-header-height)
    background: white
    transform: translateY(-100%)
    transition: transform .15s, border-color .15s

  &.-scroll &__background
    transform: translateY(0%)

  &__container
    +flex(row, space-between, center, nowrap)
    +gutter-outer()
    height: 100%

  &__homelink
    position: relative
    z-index: 10
    height: 100%
    display: flex
    align-items: center
    width: 27.7rem
    height: 100%
    max-width: 30vw
    margin-right: .66em
    transition: width .15s, padding .15s
    +media(s)
      width: 14rem

  &.-scroll &__homelink
    width: 14rem

  &__logo
    max-width: 90%
    width: 18rem
    height: auto
    transition: width .15s

  &__menu
    padding-bottom: .5rem

  &.-sticky &__burgernav
    +media($bp-mobile-nav)
      top: $page-header-height-sticky

  &__burger
    z-index: 10
    margin-left: 3rem
    +media($bp-mobile-nav, up)
      display: none
