
.m-content-accordion
  &
    border-radius: var(--border-radius-s)

  & + &
    +spacing(top, xs, margin)

    // to do for container
  .e-text-rich + &
    +spacing(top, m)

  &__button
    +typo-h4
    display: flex
    justify-content: space-between
    width: 100%
    line-height: 1.5
    transition: color .15s, background-color .15s, transform .15s, border-color .15s

  &__button:hover

  &__button.--active

  &__title
    padding:
      right: 1em
    text-align: left
    transition: transform .2s

  &__collapse
    height: 0
    overflow: hidden
    opacity: 0
    transition: opacity .15s, height .2s

  &__collapse.--active
    opacity: 1

  &__content
    +spacing(top, xs)
    +spacing(bottom, s)


  &__icon
    position: relative
    height: 1em
    width: 1em
    transform: translateY(.2em)

  &__icon:before,
  &__icon:after
    +center(both)
    content: ''
    display: block
    height: .85em
    width: 2px
    background: currentColor
    transform-origin: center
    transition: transform .2s

  &__icon:after
    transform: translate(-50%, -50%) rotate(90deg)

  &__button.--active &__icon:before
    transform: translate(-50%,-50%) scaleY(0)

  &__button.--active &__icon:after
    transform: translate(-50%,-50%) rotate(90deg)
