<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:variable name="name" value="indexedsearch"/>

<div class="{name}__item" data-controller="link" data-link-to="{row.pathUri}" role="listitem">
  <h3 class="{name}__item__header">
    <span class="{row.CSSsuffix}">{row.title -> f:format.raw()}</span>
  </h3>
  <p class="{name}__item__description">{row.description -> f:format.raw()}</p>
  <a href="{row.pathUri}" class="{name}__item__link" data-link-to-stop>
    <f:if condition="{row.pathUri} == '/'">
      <f:then>
        <f:uri.typolink parameter="{f:cObject(typoscriptObjectPath: 'lib.rootpid')}" absolute="1"/>
      </f:then>
      <f:else>
        <f:uri.typolink parameter="{row.pathUri}" absolute="1"/>
      </f:else>
    </f:if>
  </a>
  <f:if condition="{row.subresults}">
    <ul class="{name}__list -sub">
      <f:for each="{row.subresults.items}" as="subrow">
        <f:render partial="Searchresult" arguments="{row: subrow}" />
      </f:for>
    </ul>
  </f:if>
</div>
</html>