
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-section"/>
  <fc:param name="id" type="string" optional="1"/>
  <fc:param name="top" type="string" optional="1" default="auto"/>
  <fc:param name="bottom" type="string" optional="1" default="auto"/>
  <fc:param name="container" type="boolean" optional="1" default="1" />
  <fc:param name="customContainer" type="boolean" optional="1" default="0" />
  <fc:param name="object" type="mixed" optional="1"/>
  <fc:param name="attributes" type="string" optional="1"/>
  <fc:renderer>

    <f:variable name="mods"
                value="{
                    background: object.frameClass,
                    layout: object.layout,
                    top: top,
                    bottom: bottom,
                    no-h2-spacing: object.hasNoHeaderSpacing}"/>

    <section class="{name} {class} {mods -> puck:modClass()}"
             id="{id}"
             {attributes}>
      <f:if condition="!{container}">
        <f:then>
          <f:format.raw>{content}</f:format.raw>
        </f:then>
        <f:else if="{customContainer}">
          <layout:container class="{customContainer}__container">
            <f:format.raw>{content}</f:format.raw>
          </layout:container>
        </f:else>
        <f:else>
          <layout:container
                  width="{object.containerWidth}"
                  align="{object.containerPosition}"
                  offset="{object.containerOffset}">
            <f:format.raw>{content}</f:format.raw>
          </layout:container>
        </f:else>
      </f:if>
    </section>
  </fc:renderer>
</fc:component>
