.m-menu-control-pagination
  &
    +spacing(top, s)
    +flex(row,center,center)

  &__item
    margin: 0 .25em

  &__link
    color: var(--color-link)
    &.-disabled
      color: var(--color-accent)

  &__prev,
  &__next
    display: block
