.m-menu-list-item
  &
    transition: transform .25s
    &:hover
      transform: translateY(-5px)
  &__headline
    +typo-h3
    color: var(--color-link)

  &__headline + &__body
    +spacing(top, xs)

  &:hover &__headline
    color: var(--color-link--hover)