<f:variable name="show_layout"
            value="{f:if(condition:'{item.record.layout} != \'default\' && {item.record.layout}',
            then:1,else:0)}"/>
<f:variable name="show_frame_class"
            value="{f:if(condition:'{item.record.frame_class} != \'default\' && {item.record.frame_class}',
            then:1,else:0)}"/>
<f:variable name="show_space_before"
            value="{f:if(condition:'{item.record.space_before}',
            then:1,else:0)}"/>
<f:variable name="show_space_after"
            value="{f:if(condition:'{item.record.space_after}',
            then:1,else:0)}"/>
<f:variable name="show_container_width"
            value="{f:if(condition:'{item.record.container_width} && {item.record.container_width} != 12',
            then:1,else:0)}"/>
<f:variable name="show_container_position"
            value="{f:if(condition:'{item.record.container_position} && {item.record.container_position} != \'center\'',
            then:1,else:0)}"/>
<f:variable name="show_container_offset"
            value="{f:if(condition:'{item.record.container_offset}',
            then:1,else:0)}"/>

<f:variable name="show_media_layout"
            value="{f:if(condition:'({item.record.CType} == \'puck_media\' || {item.record.CType} == \'puck_child_column\' || {item.record.CType} == \'puck_child_card\' ||{item.record.CType} == \'puck_full_width_media\' || {item.record.CType} == \'puck_modal\') &&  {item.record.media_layout}',
            then:1,else:0)}"/>

<f:if condition="
    {show_layout} ||
    {show_container_width} ||
    {show_container_position} ||
    {show_container_offset} ||
    {show_frame_class} ||
    {show_content_type} ||
    {show_space_before} ||
    {show_space_after} ||
    {show_media_layout}
">
    <div class="t3-page-ce-footer">
        <div class="t3-page-ce-info">
            <f:if condition="{show_layout}">
                <f:render section="footer_col" arguments="{col: 'layout', item: item}"/>
            </f:if>
            <f:if condition="{show_media_layout}">
                <f:render section="footer_col" arguments="{col: 'media_layout', item: item}"/>
            </f:if>
            <f:if condition="{show_frame_class}">
                <f:render section="footer_col" arguments="{col: 'frame_class', item: item}"/>
            </f:if>
            <f:if condition="{show_container_width}">
                <f:render section="footer_col" arguments="{col: 'container_width', item: item}"/>
            </f:if>
            <f:if condition="{show_container_offset}">
                <f:render section="footer_col" arguments="{col: 'container_offset', item: item}"/>
            </f:if>
            <f:if condition="{show_container_position}">
                <f:render section="footer_col" arguments="{col: 'container_position', item: item}"/>
            </f:if>
            <f:if condition="{show_content_type}">
                <f:render section="footer_col" arguments="{col: 'content_type', item: item}"/>
            </f:if>
            <f:if condition="{show_space_before}">
                <f:render section="footer_col" arguments="{col: 'space_before', item: item}"/>
            </f:if>
            <f:if condition="{show_space_after}">
                <f:render section="footer_col" arguments="{col: 'space_after', item: item}"/>
            </f:if>

        </div>
    </div>
</f:if>

<f:section name="footer_col">
    <div class="t3-page-ce-footer {col}">
        <f:format.raw>
            <puck:utility.backend.getProcessedValue table="tt_content" col="{col}" value="{item.record.{col}}"/>
        </f:format.raw>
    </div>
</f:section>
