{namespace be = TYPO3\CMS\Backend\ViewHelpers}

<a href="{editLink}">

        <f:if condition="{item.record.CType} == 'list'">
            <f:then>
                <p><small>
                <strong>
                    Plugin: <f:translate key="LLL:EXT:puck/Resources/Private/Language/locallang_be.xlf:wizard.{item.record.list_type -> u:string(search:'puck_',replace:'')}" />
                </strong>
                </small></p>
            </f:then>
            <f:else>
            </f:else>
        </f:if>
<!--        id:{item.record.uid}-->
</a>