{namespace core = TYPO3\CMS\Core\ViewHelpers}
{namespace be = TYPO3\CMS\Backend\ViewHelpers}

<f:render section="preview" arguments="{_all}"/>
<f:section name="preview">
	<div class="t3-page-ce-body-content" style="display:flex; flex-direction:column">
		{linkedBody -> f:format.raw()}
		<f:render partial="PageMenuSettings"
				  arguments="{settings:pageMenuSettings,processed:pageMenuProcessed}"/>
	</div>
	<f:render section="ContainerGrid" arguments="{_all}"/>
</f:section>

<f:section name="ContainerGrid">
	<f:if condition="{txContainerGrid}">
		<div class="container-preview-toggle">
			<button class="btn btn-sm btn-default container-preview-toggle-btn"
					type="button"
					data-bs-toggle="collapse"
					data-bs-target="#container-{record.uid}"
					data-container-uid="{record.uid}"
					aria-expanded="true">
				<core:icon identifier="actions-chevron-right" size="small"/>
				<span class="container-toggle-text">Toggle container content</span>
			</button>
			<div class="collapse show" id="container-{record.uid}">
				{txContainerGrid -> f:format.raw()}
			</div>
		</div>
	</f:if>
</f:section>