@use '01-tools/all' as *

@view-transition
	navigation: auto

::view-transition-old(root),
::view-transition-new(root)
	animation-duration: 0.2s

#document
	+color-space-base
	height: 100dvh
	overflow-x: clip
	overflow-y: scroll
	overscroll-behavior-x: none

	&[class*="-modal--active"],
	&[class*="-modal--deactivating"]
		overflow: hidden
		padding-right: var(--scrollbar-width)

	--scroll-margin-top-base: 0px
	//--scroll-margin-top-base: var(--height-page-header)
	//&.--header--scroll-down
	//	--scroll-margin-top-base: 0px

	&:where(:has(.m-anchor-menu__wrap))
		--scroll-margin-top-base: 7rem
		//--scroll-margin-top-base: calc(var(--height-page-header) + 7rem)
		//&.--header--scroll-down
		//	--scroll-margin-top-base: 7rem

#body
	+typo-basic
	width: 100%
	color: var(--color)
	background: var(--background)

#root
	+flex(column, flex-start, center)
	width: 100%
	max-width: var(--width-page)
	min-height: 100dvh
	overflow-x: clip
	margin-inline: auto

