#document
	+color-space-base
	height: 100dvh
	overflow-x: clip
	overflow-y: scroll
	&[class*="-modal--active"],
	&[class*="-modal--deactivating"]
		overflow: hidden
		padding-right: var(--scrollbar-width)

#body
	width: 100%
	color: var(--color)
	background: var(--background)

#root
	+flex(column, flex-start, center)
	+typo-basic
	width: 100%
	max-width: var(--width-page)
	min-height: 100dvh
	overflow-x: clip
	margin-inline: auto
