.m-cover-media
  &__wrap
    &.l-section[class*="-background-"]
      padding-block: 0

    &.-layout-above
      +flex(column-reverse, center, center, nowrap)
    &.-layout-below
      +flex(column, center, center, nowrap)

  &__row
    &.-layout-right
      flex-direction: row-reverse
    &.-layout-left
      flex-direction: row
    +media(m)
      --grid-gutter-y: 0

  &__content
    &.-layout-above
      +spacing(top, m, padding, 2)

    &.-layout-below
      +spacing(bottom, m, padding, 2)

  &__wrap[class*="-background-"] &__content
    &.-layout-right,
    &.-layout-left
      +spacing(both, m, padding, 2)

    &.-layout-above
      +spacing(bottom, m, padding, 2)

    &.-layout-below
      +spacing(top, m, padding, 2)

  &__figure
    &.-layout-right,
    &.-layout-left
      +media(m, up)
        +cover-media()
        position: absolute
        top: 0
        height: 100%
        width: 50vw
      +media(m)
        +gutter-outer($gutter-outer, $gutter-outer-mb, true)

    &.-layout-right
      left: 0

    &.-layout-left
      right: 0

    &.-layout-above,
    &.-layout-below
      width: 100vw

  &__figure.-layout-right &__file,
  &__figure.-layout-left &__file


  &__image
    width: 100%
