@use '01-tools/all' as *

.m-cover-media
	&__wrap
    .m-main > &:where(.-top-auto:first-child)
		margin-top: 0

		&[class*="-background-"]
			padding-block: 0

		&.-layout-above
			+flex(column-reverse, center, center, nowrap)

		&.-layout-below
			+flex(column, center, center, nowrap)

	&__row
		gap: 0

		&.-layout-right
			flex-direction: row

		&.-layout-left
			flex-direction: row-reverse

	&__content
		&.-layout-above
			padding-top: spacing(m, 2)

		&.-layout-below
			padding-bottom: spacing(m, 2)

	&__wrap[class*="-background-"] &__content
		&.-layout-right,
		&.-layout-left
			padding-block: spacing(m, 2)

		&.-layout-above
			padding-bottom: spacing(m, 2)

		&.-layout-below
			padding-top: spacing(m, 2)

	&__figure
		&.-layout-right,
		&.-layout-left
			@media (min-width(sm))
				+cover-media
				position: absolute
				top: 0
				height: 100%
				width: calc(50vw - var(--scrollbar-width) * 0.5)
				max-width: calc(var(--width-page) * 0.5)
			@media (max-width(sm))
				margin-inline: calc(-1 * var(--gutter-outer))

		&.-layout-right
			right: 0

		&.-layout-left
			left: 0

		&.-layout-above,
		&.-layout-below
			width: 100vw
			max-width: var(--width-page)

	&__figure.-layout-right &__file,
	&__figure.-layout-left &__file

	&__image
		width: 100%
