@use '01-tools/all' as *

.m-error-text
	&__wrap
		margin-block: auto

	&
		+flex(column, center, center, nowrap)

	&__header
		+font-size(14rem)
		padding-bottom: 0

	&__subheader
		+typo-h2
		font-weight: bold

	&__logo
		display: block
		height: 5rem
		width: 5rem
		margin-block: 3rem

	&__text