@use '01-tools/all' as *


.m-fileMenu
	&__item
		display: flex
		align-items: stretch
		gap: .5em

	&__link
		flex-grow: 1
		word-break: break-all
		text-align: left
		span
			display: -webkit-box
			-webkit-line-clamp: 2
			-webkit-box-orient: vertical
			overflow: hidden
			text-overflow: ellipsis
			font-weight: 300
			+font-size(1.5rem)

	&__thumbnail
		width: auto
		border-radius: 5px
		background: white
