.m-footer__nav
	&
		+typo-nav
		+spacing(both, xxs)

	&__wrap

	&__list
		display: flex
		justify-content: center
		+media(s)
			flex-direction: column
			align-items: center

			//font-size: 1.1rem

	&__list.-icons
		flex-direction: row

	&.-small
		font-weight: 400
		+media(s, up)
			+font-size($fs-extra-small)

	&__item
		+media(s, up)
			margin: 0 .66em
		+media(s)
			margin: .2em 0

	&.-small &__item
		+media(s, up)
			margin: 0 1.5em

	&__list.-icons &__item
		margin: 0 .66em

	&__link
		color: var(--color-link)
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)
		+media(s)
			padding: .25em 0
			display: block