@use '01-tools/all' as *

.m-hero
	.m-cover-media__wrap + &__wrap:where(.-top-auto)
		margin-top: 0

	&
		+flex(column-reverse, flex-start, center)

	&__headline
		color: var(--color-headline)
		&:last-child
			padding-bottom: 0