.m-hero
  &__wrap
    .m-cover-media__wrap + &:where(.-top-auto)
        margin-top: 0
  &
    +flex(column-reverse, flex-start, center)

  &__headline
    color: var(--color-accent-alt)
    &:last-child
      padding-bottom: 0