.m-header
  &
    position: sticky
    top: 0
    z-index: $z-index-modal - 1
    width: 100%
    height: var(--height-page-header)
    margin-block: 2.5rem
    background: var(--background)
    border-bottom: 2px solid transparent
    transition: background .5s, box-shadow .2s, border-color .15s, transform .15s
    +media(sm)
      margin-block: 1rem

  &.--stuck
    background: var(--background-modal)

  &:where(.--stuck)
    &.--scroll-up, &.--scroll-down
    transition: background .5s, transform .4s
    &.--scroll-down
      transform: translateY(-100%)
    +media(sm)
      --height-page-header: #{$page-header-height-mobile}


  &__container
    +flex(row, space-between, center, nowrap)
    +gutter-outer()
    height: 100%

  &__anchor
    position: relative
    display: flex
    align-items: center
    color: var(--color-link)
    fill: var(--color-link)
    transition: color .4s, transform .4s, fill .4s
    &:hover,
    &:focus
      color: var(--color-link--hover)
      fill: var(--color-link--hover)
      transform: scale(1.05)

  &__logo
    z-index: $z-index-header-burger
    max-width: 90%
    height: 5rem
    width: 5rem
    outline: none

