.m-indexedsearch
  &__modal
    padding: 1em
    padding-right: 4em
    border-radius: var(--border-radius-m)

  &__bar
    +flex(row,flex-start,center,nowrap)

  &__input
    width: unset
    flex-grow: 1
    margin: 0
    //border: 1px solid var(--color-link)

  &__submit

  &__result
    +spacing(bottom, m)
    +spacing(top, m, margin)
    cursor: pointer
    border-bottom: 2px solid var(--background-light)

    &__header,
    &__link
      color: var(--color-link)
      &:hover
        color: var(--color-link--hover)