@use '01-tools/toolset' as *

@keyframes fade-in
  from
    translate: 0 40px
    opacity: 0
  to
    translate: 0 0
    opacity: 1

.m-main
  &
    display: flex
    flex-direction: column
    flex-grow: 1
    width: 100%
    transition: opacity .15s
    opacity: 1
    animation: fade-in .5s
  &__padding
    width: 100%
    padding-top: var(--height-page-header)