@use '01-tools/all' as *

.m-menu__pagination
	&
		+flex(row, center, center)
		gap: .5em
		padding-top: spacing(s)

	&__link
		display: block
		padding: .25em .5em
		color: var(--color-link)
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)
		&.-disabled
			color: var(--color-emphasis)

	&__prev,
	&__next
		display: block
