.m-main
  &
    display: flex
    flex-direction: column
    flex-grow: 1
    width: 100%
    padding-top: calc(var(--size-m) + var(--height-page-header))
    transition: opacity .15s
    // overlap with header:
    // margin-top: calc(var(--height-page-header) * -1 - var(--margin-block-page-header) * 2)
