@use '01-tools/all' as *

.m-menu
	&__bodytext
		padding-bottom: spacing(m)

	&__card
		transition: transform .25s
		&:hover
			transform: translateY(-5px)

	&__column
		transition: transform .25s
		&:hover
			transform: translateY(5px)

	&__teaser
		+flex(row, flex-start, flex-start, wrap)
		width: 100%

	&__title
		+typo-h3
		width: 100%
		color: var(--color-link)
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)

	&__title__heading
		width: 100%
		padding: 0

	&__card:hover &__headline,
	&__card:hover &__cta,
	&__column:hover &__headline,
	&__column:hover &__cta
		color: var(--color-link--hover)

	&__subtitle
		width: 100%
		color: var(--color-emphasis)

	&__categories
		width: 100%
		color: var(--color-emphasis)
		order: -1

	&__date
		+font-size($font-size-small)
		color: var(--color-emphasis)
		order: -1

	&__teaser-text
		width: 100%
		padding-top: 1em

	&__cta
		+flex(row, flex-start, center)
		gap: .5em
		margin-top: var(--paragraph-spacing)
		margin-left: auto
		transition: color .25s
		&__wrap
			margin-top: auto