.m-menu__pagination
  &
    +font-size($fs-h4)
    +flex(row,center,center)
    padding-top: spacing(s)

  &__item

  &__link
    display: block
    padding: 0.25em .5em
    margin: 0 .25em
    color: var(--color-link)
    &.-disabled
      color: var(--color-accent)

  &__prev,
  &__next
    display: block
