.m-powermail-form
  &__header
    @extend .h2

  &__page
    & + &
      padding-top: spacing(s)
    &__header
      @extend .h3

    &.-paginated
      display: none
      padding-top: 0
    &.-paginated.--active
      display: block

  &__page__navigation
    +flex(row,space-between)

  &__list
    --grid-gutter-x: .8em
    --grid-gutter-y: 1.25em

  &__description
    +font-size($fs-small)
    margin-block: -.5em .5em

  &__item
    &.-type-input,
    &.-type-select,
    &.-type-date
      +grid-col-width(6, 12, (sm:(12,12)))
      min-width: width-by-cols(3)

  &__field
    &.-type-submit
      +flex(row,space-between)
      margin-top: 1em
      position: relative

  &__html
    @extend .e-rich-text

  &.htmx-request &__field
    opacity: .5
    pointer-events: none
    &.-type-submit
      opacity: 1
  &.htmx-request &__submit
    opacity: .5
    pointer-events: none

  &__loading-indicator
    +center(both)
    font-size: 1.5em
    color: var(--color-link)
    display: none

  &.htmx-request &__loading-indicator
    display: block
