@use '01-tools/all' as *

.m-section-carousel
	&
		max-width: var(--width-page)
		margin-bottom: spacing(m)

	&__slide
		display: flex
		width: 100%
		max-width: var(--width-page)

	:where(.l-carousel__track)
		margin: 0
		padding: 0

	:where(.l-carousel__pagination),
	:where(.l-carousel__controls)
		padding: 0


