.m-sidebar-nav

  @keyframes sidebar-open
    0%
      opacity: 0
      transform: translate(11rem, 0)
    100%
      opacity: 1
      transform: translateX(0)

  @keyframes sidebar-close
    0%
      opacity: 1
      transform: translateX(0)
    100%
      opacity: 0
      transform: translate(11rem, 0)

  &__modal
    margin: 0 0 0 auto
    padding: 0
    overflow: hidden
    overflow-y: auto
    background: var(--background-modal)
    border: none
    border-bottom-left-radius: var(--border-radius-s)
    box-shadow: var(--box-shadow-s)
    transform: translateX(100%)
    transition: height .15s, opacity .2s
    width: 100vw
    max-width: width-by-cols(3, true)
    @media (max-width(s))
      max-width: 85%

    &.--active
      transform: translateX(0)
      animation: sidebar-open .27s ease-out
    &.--deactivating
      animation: sidebar-close .27s ease-out
    &::backdrop
      background: var(--background-modal-backdrop)
    &.--active::backdrop
      animation: modal-open-overlay .27s ease-out
    &.--deactivating::backdrop
      opacity: 0
      animation: modal-close-overlay .27s ease-out

  &__wrap
    +gutter-outer
    max-height: 100dvh
    padding-bottom: spacing(m)

  &__header
    +flex(row, flex-start, center, nowrap)
    width: calc(100% - var(--scrollbar-width))
    height: var(--height-page-header)
    border-bottom: 2px solid color-mix(in srgb, var(--color-link), transparent)

  &
    +flex(column, flex-end, flex-start)
    padding-top: 2em

  &__list
    width: 100%
    justify-content: flex-start
    flex-direction: column

  &__item
    margin-left: 0
    margin-bottom: 1em

  &__link
    color: var(--color-link)
    transition: color .15s
    &:hover,
    &:focus-visible
      color: var(--color-link--hover)

  &__close
    +flex(row,center,center)
    height: 3rem
    width: 3rem
    margin-left: auto
    margin-right: -.5rem
    padding: .5rem
    font-size: 1.9rem
    color: var(--color-link)
    transition: color .15s, box-shadow .15s
    &:hover,
    &:focus-visible
      color: var(--color-link--hover)