@use '../01-tools/all' as *

.m-teaser
	&
		transition: transform .25s
		&:hover
			transform: translateY(-5px)

	&:hover &__title,
	&:hover &__cta
		color: var(--color-link--hover)

	&__content
		+flex(row, flex-start, flex-start, wrap)
		width: 100%

	&__heading
		width: 100%
		padding: 0

	&__link
		+flex(row, flex-start, flex-start, wrap)
		width: 100%

	&__title
		+typo-h3
		width: 100%
		padding: 0
		color: var(--color-link)
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)

	&__categories
		width: 100%
		color: var(--color-emphasis)
		order: -1

	&__date
		+font-size($font-size-small)
		color: var(--color-emphasis)
		order: -1

	&__icon
		order: -2

	&__subtitle
		width: 100%
		color: var(--color-emphasis)

	&__text
		width: 100%
		padding-top: 1em

	&__cta
		+flex(row, flex-start, center)
		gap: .5em
		margin-top: var(--paragraph-spacing)
		margin-left: auto
		transition: color .25s
		&__wrap
			margin-top: auto