@use '../01-tools/all' as *

.m-teaser
	&:hover &__title,
	&:hover &__cta,
	&:hover &__arrow
		color: var(--color-link--hover)

	&__card
		transition: border-color .15s
		&:hover
			border-color: var(--color-link--hover)

	&__content
		+flex(row, flex-start, center, wrap)
		position: relative
		width: 100%

	&__heading
		width: 100%
		padding: 0

	&__link
		+flex(row, flex-start, flex-start, wrap)
		width: 100%

	&__title
		+typo-h3
		width: 100%
		padding: 0
		color: var(--color-link)
		transition: color .15s
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)

	&__date
		+font-size($font-size-small)
		color: var(--color-emphasis)
		order: -1
		font-variant-numeric: tabular-nums

	&__category
		+font-size($font-size-small)
		color: var(--color-emphasis)
		order: -1
		margin-left: auto

	&__icon
		order: -2

	&__subtitle
		width: 100%
		color: var(--color-emphasis)

	&__text
		width: 100%
		padding-top: 1em

	&__cta
		+flex(row, flex-start, center)
		gap: .5em
		margin-top: var(--paragraph-spacing)
		transition: color .15s
		&__wrap
			margin-top: auto
			margin-left: auto

	&__arrow
		position: absolute
		right: 0
		bottom: 0
		font-size: 2.5em
		color: rgba(255, 255, 255, 0.15)
		transition: color .15s

	&__content:where(:has(&__arrow))
		padding-right: 4.5em
