@import '08-utilities/utilities'

@import '02-generic/icon-font'

.cke_editable
  .e-button
    padding: .5em 1em
    border: 1px solid
    border-radius: .5em

  .-small
    font-size: .85em

  .-footnote
    font-size: .75em

  .-intro,
  .-large
    font-size: 1.25em

  .-quote
    font-size: 1.25em
    font-style: italic


  .h2, h2
    font-size: 1.5em
    font-weight: bold

  .h3, h3
    font-size: 1.2em
    font-weight: bold

  [class*="icon--"],
  span.icon--
    padding-inline: .4em
