
<f:argument name="name" type="string" optional="1" default="m-sidebarNav"/>
<f:argument name="record" type="mixed"/>


<dialog data-controller="modal"
		class="{name}__modal"
		data-modal.duration="300"
		data-modal.append-to=""
		data-modal.click-hide-selector="a"
		id="sidebar-nav-modal">
	<div class="{name}__wrap">
		<div class="{name}__header">
			<button class="{name}__close"
					data-autofocus
					data-action="modal.hide"
					aria-controls="sidebar-nav-modal"
					aria-label="{f:translate(key:'close')}">
				<icon:char icon="xmark-regular"/>
			</button>
		</div>
		<element:navigation name="{name}"
							identifier="main"/>
	</div>
</dialog>





