.l-carousel
  &
    margin-inline: calc(var(--grid-gutter-x) * -0.5)

  &__controls
    +spacing(top, xs)

  &__pagination
    +spacing(top, xs)

  &__controls,
  &__pagination
    margin-inline: calc(var(--grid-gutter-x) / 2)

  &__track.-overflow-visible
    overflow: visible