.l-section
  &
    +spacing(both, m, margin)
    position: relative
    width: 100%
    color: var(--color)
    background: var(--background)

  // Spacing
  &.-top
    &-none
      margin-top: 0
    &-small
      +spacing(top, s, margin)
    &-medium
      +spacing(top, m, margin)
    &-large
      +spacing(top, l, margin)

  &.-bot
    &-none
      margin-bottom: 0
    &-small
      +spacing(bottom, s, margin)
    &-medium
      +spacing(bottom, m, margin)
    &-large
      +spacing(bottom, l, margin)

  // Auto spacing rules



  // Backgrounds

  &[class*="-background-"]
    +spacing(both, m, padding, 2)
    & + &
      +spacing(top, m, margin, -1)

  &.-background-dark
    // color variables
    --background: #{ $dark-lilac }
    --color: white
    --color-headline: white
    --color-accent: white
    --color-accent-alt: white
    --color-link: white
    --color-link--hover: rgba(white, 0.8)
    & + &
      padding-top: 0