
.u-hide
	display: none !important

.u-show
	display: block !important

.u-flex
	display: flex !important

.u-front
	position: relative
	z-index: 999999 !important

.u-text-left
	text-align: left !important

.u-text-center
	text-align: center !important

.u-text-right
	text-align: right !important

.u-text-justify
	text-align: justify !important

.u-justify-start, .u-justify-left
	display: flex !important
	justify-content: flex-start !important

.u-justify-center
	display: flex !important
	justify-content: center !important

.u-justify-spaceBetween
	display: flex !important
	justify-content: space-between !important

.u-justify-end, .u-justify-right
	display: flex !important
	justify-content: flex-end !important

.u-align-start
	display: flex !important
	align-items: flex-start !important

.u-align-center
	display: flex !important
	align-items: center !important

.u-align-end
	display: flex !important
	align-items: flex-end !important

.u-transition-off
	&, & *
		transition: none !important

.sr-only
	position: absolute !important
	width: 1px !important
	height: 1px !important
	clip-path: inset(50%) !important
	margin: -1px !important
	overflow: hidden !important
	padding: 0 !important
	border: 0 !important
	white-space: nowrap !important