
<f:argument name="name" type="string" optional="1" default="l-card"/>
<f:argument name="width" type="integer" optional="1"/>
<f:argument name="media" type="array" optional="1"/>
<f:argument name="mediaUrl" type="string" optional="1"/>
<f:argument name="mediaSize" type="string" optional="1" default="cover"/>
<f:argument name="mediaWidth" type="integer" optional="1" default=""/>
<f:argument name="mediaLayout" type="string" optional="1" default="above"/>
<f:argument name="align" type="string" optional="1" default="start"/>
<f:argument name="cropVariant" type="string" optional="1" default="default"/>
<f:argument name="outerContent" type="string" optional="1"/>
<f:argument name="attributes" type="array" optional="1"/>

<f:variable
	name="bemMod"
	value="{
	layout: mediaLayout,
	width: width,
	media-size: mediaSize,
	media-width: mediaWidth,
	align: align
	}"
/>

<div class="{u:bem(mod:bemMod)} {class} {f:if(condition:media.0,then:'-media')}"
	 {attributes -> u:renderAttributes()}>
	<div class="{u:bem(el:'content', mod:bemMod)}">
		<f:slot/>
	</div>
	<f:if condition="{mediaWidth} > 6 || !{mediaWidth}">
		<f:then>
			<f:variable name="calcWidth" value="{settings.template.gridWidth}"/>
		</f:then>
		<f:else if="{mediaWidth} > 4">
			<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/2')}"/>
		</f:else>
		<f:else if="{mediaWidth} == 4">
			<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/3')}"/>
		</f:else>
		<f:else if="{mediaWidth} == 3">
			<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/4')}"/>
		</f:else>
		<f:else>
			<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/5')}"/>
		</f:else>
	</f:if>
	<f:if condition="{media}">
		<element:media
			name="{name}"
			class="{u:bem(el:'figure', mod:bemMod)}"
			file="{media.0}"
			cropVariant="{cropVariant}"
			width="{calcWidth}"
			sources="{
                xs: {width: 430, cropVariant: cropVariant},
                m: {width: 900, cropVariant: cropVariant}
                }"
			breakpointSources="1"
			showTitle="{f:if(condition: '{mediaSize} == \'contain\'', then: '1', else: '0')}"
			showDesc="{f:if(condition: '{mediaSize} == \'contain\'', then: '1', else: '0')}"/>
	</f:if>
	<f:if condition="{mediaUrl}">
		<div class="{u:bem(el:'figure', mod:bemMod)}">
			<img src="{mediaUrl}" class="{name}__file {name}__image">
		</div>
	</f:if>
	{outerContent -> f:format.raw()}
</div>



