
<f:argument name="name" type="string" optional="1" default="l-carousel"/>
<f:argument name="id" type="string"/>
<f:argument name="align" type="string" optional="1" default="start"/>
<f:argument name="carouselAttributes" type="array"/>

<div
	class="{name} {class} splide"
	id="{id}"
	data-controller="carousel"
	data-carousel="{carouselAttributes -> f:format.json()}"
	data-carousel.base-splide-class="{name}">
	<div class="{name}__track splide__track -overflow-{carouselAttributes.trackOverflow}">
		<div class="{name}__list splide__list -align-{align}">
			<f:slot/>
		</div>
	</div>

	<div class="{name}__controls">
		<f:if condition="{carouselAttributes.splideOptions.arrows}">
			<div class="{name}__arrows splide__arrows">
				<button class="{name}__arrow-prev splide__arrow--prev" aria-controls="{id}">
					<icon:svg icon="arrow-left-regular"/>
				</button>
				<button class="{name}__arrow-next splide__arrow--next" aria-controls="{id}">
					<icon:svg icon="arrow-right-regular"/>
				</button>
			</div>
		</f:if>
	</div>

</div>