
<f:argument name="name" type="string" optional="1" default="l-carousel"/>
<f:argument name="id" type="string"/>
<f:argument name="carouselAttributes" type="array"/>
<f:argument name="align" type="string" optional="1" default="start"/>

<div
	class="{name} {class} splide"
	id="{id}"
	data-controller="carousel"
	data-carousel="{carouselAttributes -> f:format.json()}"
	data-carousel.base-splide-class="{name}">
	<div class="{name}__track splide__track -overflow-{carouselAttributes.trackOverflow}">
		<div class="{name}__list splide__list -align-{align}">
			<f:slot/>
		</div>
	</div>

	<f:if condition="{carouselAttributes.splideOptions.arrows}">
		<div class="{name}__controls {class}__arrows splide__arrows">
			<button class="{name}__controls__prev splide__arrow--prev" aria-controls="{id}">
				<icon:svg icon="arrow-left-regular"/>
			</button>
			<button class="{name}__controls__next splide__arrow--next" aria-controls="{id}">
				<icon:svg icon="arrow-right-regular"/>
			</button>
		</div>
	</f:if>

</div>






