
<f:argument name="name" type="string" optional="1" default="l-media"/>
<f:argument name="media" type="array" optional="1"/>
<f:argument name="text" type="string" optional="1"/>
<f:argument name="layout" type="string" optional="1" default="above"/>
<f:argument name="justify" type="string" optional="1" default="center"/>
<f:argument name="align" type="string" optional="1" default="flex-start"/>
<f:argument name="mediaWidth" type="integer" optional="1" default="5"/>
<f:argument name="textWidth" type="integer" optional="1" default="5"/>
<f:argument name="itemWidth" type="integer" optional="1" default="5"/>
<f:argument name="mediaMobileMaxVh" type="integer" optional="1" default="0"/>
<f:argument name="cropVariant" type="string" optional="1" default="default"/>
<f:argument name="showTitle" type="boolean" optional="1" default="1"/>
<f:argument name="showDesc" type="boolean" optional="1" default="1"/>



<f:comment>todo: image always AFTER headline in html structure</f:comment>
<layout:row
	class="{name}__row {name} -layout-{layout} {class} -media-width-{mediaWidth} -text-width-{textWidth} {f:if(condition:mediaMobileMaxVh,then:'-mobile-max-height')}"
	justify="{justify}"
	align="{align}"
	attributes="{style:'--max-height-media-mobile: {mediaMobileMaxVh}vh'}">
	<f:variable name="textSnippet">
		<layout:row.item class="{name}__text" width="{textWidth}">
			<element:richText text="{text}"/>
			<f:slot/>
		</layout:row.item>
	</f:variable>
	<f:if condition="({text} || {content}) && {layout} != 'right-float' && {layout} != 'left-float'">
		{textSnippet -> f:format.raw()}
	</f:if>
	<f:if condition="{media}">
		<f:if condition="{mediaWidth} > 6 || !{mediaWidth}">
			<f:then>
				<f:variable name="calcWidth" value="{settings.template.gridWidth}"/>
			</f:then>
			<f:else if="{mediaWidth} > 4">
				<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/2')}"/>
			</f:else>
			<f:else if="{mediaWidth} == 4">
				<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/3')}"/>
			</f:else>
			<f:else if="{mediaWidth} == 3">
				<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/4')}"/>
			</f:else>
			<f:else>
				<f:variable name="calcWidth" value="{u:math(eval:'{settings.template.gridWidth}/5')}"/>
			</f:else>
		</f:if>

		<f:if condition="{itemWidth} == {mediaWidth} && {media -> f:count()} == 1">
			<f:then>
				<element:media
					class="{name}__media l-row__item -bp-auto -width-{mediaWidth}"
					name="{name}"
					file="{media.0}"
					cropVariant="{cropVariant}"
					width="{calcWidth}"
					sources="{
					  xs: {width: 430, cropVariant: cropVariant},
					  m: {width: 900, cropVariant: cropVariant}
					  }"
					breakpointSources="1"
					showTitle="{showTitle}"
					showDesc="{showDesc}"/>
			</f:then>
			<f:else>
				<layout:row class="{name}__media {name}__media__row l-row__item -bp-auto -width-{mediaWidth}"
							justify="{justify}" align="{align}">
					<f:for each="{media}" as="file">
						<layout:row.item width="{itemWidth}">
							<element:media
								name="{name}"
								file="{file}"
								cropVariant="{cropVariant}"
								width="{calcWidth}"
								sources="{
								  xs: {width: 430, cropVariant: cropVariant},
								  m: {width: 900, cropVariant: cropVariant}
								  }"
								breakpointSources="1"
								showTitle="{showTitle}"
								showDesc="{showDesc}"/>
						</layout:row.item>
					</f:for>
				</layout:row>
			</f:else>
		</f:if>
	</f:if>
	<f:if condition="({text} || {content}) && ({layout} == 'right-float' || {layout} == 'left-float')">
		{textSnippet -> f:format.raw()}
	</f:if>
</layout:row>





