.d-html .e-button-primary
  &
    +typo-button
    position: relative
    display: inline-block
    max-width: 100vw
    padding: .66em 2.33em
    text-align: center
    color: var(--color-button)
    background: var(--background-button)
    border: 2px solid var(--color-button-border)
    border-radius: var(--border-radius-s)
    cursor: pointer
    transition: color .15s, filter .15s, transform .2s, box-shadow .15s, border-color .15s, background-color .15s, background-position .25s
    &:hover
      color: var(--color-button--hover)
      background: var(--background-button--hover)
      border-color: var(--color-button-border--hover)
    &:after
      +cover
      z-index: 0
      content: ''
      opacity: 0
      border-radius: var(--border-radius-s)
      box-shadow: 0 0 0 10px var(--background-button--hover)
      transition: opacity .2s
    &:focus:after,
    &:active:after
      opacity: 0.2

  &.-block
    display: block
    width: 100%

  &.-ghost,
  &.-outline
    color: var(--background-button)
    background: transparent
    &:hover
      color: var(--background-button--hover)
  &.-ghost
    padding-inline: .66em
    border-color: transparent
  &.-outline
    border-color: var(--background-button)
    &:hover
      border-color: var(--background-button--hover)


  &[disabled],
  &.-disabled
    background: lightgrey !important
    opacity: 1
    pointer-events: none

  &__icon
    transform: translateY(2px)
    margin-right: 0.2em

.e-button-primary
  .e-text-rich * + p &:not(:first-child)
    +spacing(top, xs, margin)

  .e-text-rich p:not(:last-child) &
    //+spacing(bottom, xs, margin)

  &+&
    +media(m, up)
      margin-left: 2em
    +media(s)
      +spacing(top, xs, margin)