

h1, .h1
  +typo-h1
  +spacing(bottom, m)
  color: var(--color-headline)

h2, .h2
  +typo-h2
  +spacing(bottom, s)
  color: var(--color-headline)

h3, .h3
  +typo-h3
  +spacing(bottom, xs)
  color: var(--color-headline)

h4, .h4
  +typo-h4
  +spacing(bottom, xs)

.topline
  +typo-topline
  +spacing(bottom, m)
  color: var(--color-headline)
