<f:variable name="show_layout" value="{f:if(condition:'{item.record.layout} != \'default\' && {item.record.layout}',then:1,else:0)}"/>
<f:variable name="show_frame_class" value="{f:if(condition:'{item.record.frame_class} != \'default\' && {item.record.frame_class}',then:1,else:0)}"/>
<f:variable name="show_content_type" value="{f:if(condition:'{item.record.content_type} != \'assets\' && {item.record.content_type}',then:1,else:0)}"/>
<f:variable name="show_imageorient" value="{f:if(condition:'({item.record.imageorient} != 1 && {item.record.assets})',then:1,else:0)}"/>
<f:variable name="show_imagecols" value="{f:if(condition:'{item.record.imagecols} != 1 && ({item.record.assets} || {item.record.inline_textmedia})',then:1,else:0)}"/>
<f:variable name="show_space_before" value="{f:if(condition:'{item.record.space_before}',then:1,else:0)}"/>
<f:variable name="show_space_after" value="{f:if(condition:'{item.record.space_after}',then:1,else:0)}"/>

<f:if condition="
    {show_layout} ||
    {show_frame_class} ||
    {show_content_type} ||
    {show_imageorient} ||
    {show_imagecols} ||
    {show_space_before} ||
    {show_space_after}
">
    <div class="t3-page-ce-footer">
        <div class="t3-page-ce-info">
            <f:if condition="{show_layout}">
                <f:render section="footer_col" arguments="{col: 'layout', item: item}"/>
            </f:if>
            <f:if condition="{show_frame_class}">
                <f:render section="footer_col" arguments="{col: 'frame_class', item: item}"/>
            </f:if>
            <f:if condition="{show_content_type}">
                <f:render section="footer_col" arguments="{col: 'content_type', item: item}"/>
            </f:if>
            <f:if condition="{show_imageorient}">
                <f:render section="footer_col" arguments="{col: 'imageorient', item: item}"/>
            </f:if>
            <f:if condition="{show_imagecols}">
                <f:render section="footer_col" arguments="{col: 'imagecols', item: item}"/>
            </f:if>
            <f:if condition="{show_space_before}">
                <f:render section="footer_col" arguments="{col: 'space_before', item: item}"/>
            </f:if>
            <f:if condition="{show_space_after}">
                <f:render section="footer_col" arguments="{col: 'space_after', item: item}"/>
            </f:if>

        </div>
    </div>
</f:if>

<f:section name="footer_col">
    <div class="t3-page-ce-footer">
        <f:format.raw>
            <ubos:utility.backend.getProcessedValue table="tt_content" col="{col}" value="{item.record.{col}}"/>
        </f:format.raw>
    </div>
</f:section>
