@use '01-tools/all' as *
@use 'sass:math'

\:root
	--scrollbar-width: 15px
	--main-scroll-target: html
	--height-page-header: #{ px-rem(90) }
	--margin-block-page-header: 0

	--width-page: #{ px-rem(3840) }
	--width-grid: #{ $grid-width }
	@media ('max-width: #{$grid-width + 2 * $gutter-outer}')
		--width-grid: calc(100vw - 2 * var(--gutter-outer))
	--grid-columns: #{ $grid-columns }
	--row-colspan: #{ $grid-columns }
	--gutter-outer: #{ $gutter-outer }
	+responsive-size($gutter-x, --gutter-x)
	+responsive-size($gutter-y, --gutter-y)

	+responsive-size($font-size-body, --font-size-body)
	--paragraph-spacing: calc(var(--font-size-body) * 1.4)
	@each $size, $factor in fibonacci-sizes()
		+responsive-size($spacing-unit * $factor, --spacing-#{$size})

	--clip-slant-height: 6vw
	--max-height-media-mobile: unset

	--border-width-button: 2px
	--border-radius-s: #{ px-rem(8) }
	--border-radius-m: #{ px-rem(16) }
	--box-shadow-s: 0 3px 4px rgb(0 0 0 / 12%)
	--box-shadow-m: 0 5px 7px rgb(0 0 0 / 18%)

	--z-index-base: 1
	--z-index-dialog: 9
	--z-index-header: 99
	--z-index-sidebar: 199
	--z-index-modal: 999


	@media(max-width(m))
		--height-page-header: #{ px-rem(80) }
		--margin-block-page-header: #{ px-rem(10) }
		--gutter-outer: #{ $gutter-outer-responsive }

