@use '01-tools/all' as *

.l-carousel

	&__track
		//margin-block: calc(var(--gutter-y) * -.5)
		//margin-inline: calc(var(--gutter-x) * -.5)
		overflow: visible
		overflow-x: hidden
		overflow-y: hidden
		overflow-x: clip
		overflow-y: clip

	&__track.-overflowVisible
		overflow: visible
		overflow-x: visible
		overflow-y: visible

	&__list
		--calc-col-width: calc((100% - (var(--row-colspan) - 1) * var(--gutter-x)) / var(--row-colspan))

		&.-align-start
			align-items: flex-start

		&.-align-center
			align-items: center

		&.-align-end
			align-items: flex-end

		&.-align-stretch
			align-items: stretch

	:where(.splide__slide.l-row__item):not(:last-child)
		margin-right: var(--gutter-x)

	&__controls
		+flex(row, center, center)
		gap: 1em
		&:has(*)
			margin-top: var(--paragraph-spacing)

	&__arrows
		+flex(row, center, center)
		gap: 1em
		width: 100%

	&__arrowPrev,
	&__arrowNext
		color: var(--color-link)
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)


	$pagination-gap: .75em
	$bullet-width: .75em
	$autoplay-bar-width: 2.5em
	$bar-width-ratio: $bullet-width / $autoplay-bar-width
	$bullet-border-radius: $bullet-width * 0.5
	&__pagination
		+flex(row, center, center)
		gap: $pagination-gap
		&>li
			display: flex

	&__pagination__page
		position: relative
		height: $bullet-width
		width: $bullet-width
		background: color-mix(in srgb, var(--color), transparent 70%)
		border-radius: $bullet-border-radius
		transition: width var(--splide-speed), background .15s
		&:hover
			background: color-mix(in srgb, var(--color), transparent 1%)
		&.is-active
			background: var(--color-link)
		&.is-active.-autoplay
			width: $autoplay-bar-width
			background: color-mix(in srgb, var(--color), transparent 70%)
			overflow: hidden
		&.is-active.-autoplay:before,
		&.is-active.-autoplay:after
			content: ''
			position: absolute
			top: 0
			left: 0
			height: $bullet-width
			background: var(--color)
			transform-origin: left
		&.is-active.-autoplay:before
			width: $autoplay-bar-width
			scale: calc(#{1 - $bar-width-ratio} * var(--splide-autoplay-progress)) 1
		&.is-active.-autoplay:after
			width: $bullet-width
			translate: calc(#{1 - $bar-width-ratio} * var(--splide-autoplay-progress) * $autoplay-bar-width) 0
			border-radius: 0 $bullet-border-radius $bullet-border-radius 0

	&__autoplayToggle
		+flex(row,center,center)
		width: 2.2em
		height: 2.2em
		color: var(--color-button)
		background: var(--background-button)
		border: 2px solid var(--color-button-border)
		border-radius: 100%
		transition: background-color .15s
		&:hover, &:focus-visible
			--color-button: var(--color-button--hover)
			--background-button: var(--background-button--hover)
			--color-button-border: var(--color-button-border--hover)
			color: var(--color-button)
		i
			font-size: 1.25em
		&.--paused i:before
			content: var(--icon-code-play-solid)
			position: relative
			left: 2%



