.d-html
	+color-space-base
	background: var(--background)
	overflow-x: hidden
	&[class*="-modal--active"],
	&[class*="-modal--deactivating"]
		overflow: hidden
		padding-right: var(--scrollbar-width)

.d-body
	overflow-x: hidden


