@use '01-tools/all' as *

.l-card
  +color-space-card
  --padding-block: 1.5em
  --padding-inline: 1.5em
  --padding-bottom: var(--padding-block)
  --background-media-opacity: 0.5
  --background-media-overlay-color: var(--background)
  @media (max-width(s))
    //--padding-block: 1.5em
    //--padding-inline: 10%
  &
    +flex(column, flex-start, flex-start)
    position: relative
    flex-grow: 1
    color: var(--color)
    background: var(--background)
    border-radius: var(--border-radius-s)
    overflow: hidden
    &.-media
      flex-direction: column-reverse
      justify-content: space-between
    &.-media-size-background
      +color-space-card-image-background

    &.-media-size-contain,
    &.-media-size-background
      padding: var(--padding-block) var(--padding-inline) var(--padding-bottom)
    &.-layout-right
      @media (min-width(s))
        flex-direction: row
    &.-layout-left:where(.-media)
      @media (min-width(s))
        flex-direction: row-reverse
    &.-layout-above:where(.-media)
      flex-direction: column-reverse
    &.-layout-below
      flex-direction: column
    &.-media-size-cover:where(.-layout-right, .-layout-left)
      align-items: stretch

  &__content
    position: relative
    width: 100%
    height: 100%
    z-index: 1
    &.-media-size-cover
      padding: var(--padding-block) var(--padding-inline)
    &.-layout-right,
    &.-layout-left
      @media (min-width(s))
        width: 0
        flex-grow: 1

  &__figure
    width: 100%
    &.-media-size-background
      +cover-media
      position: absolute
      z-index: 0
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: var(--background-media-overlay-color)

    &.-media-size-cover:where(.-layout-right, .-layout-left)
      @media (min-width(s))
        +cover-media
        width: 50%
      @for $i from 2 through 10
        &.-media-width-#{$i}
          @media (min-width(s))
            width: calc(100% * #{$i} / var(--card-width))
          @media (min-width(s)) and (max-width(sm))
            width: calc(100% * #{$i * 2} / var(--card-width))

    &.-media-size-contain:where(.-layout-above)
      padding-bottom: var(--padding-bottom)

    &.-media-size-contain:where(.-layout-below)
      padding-top: var(--padding-block)

    &.-media-size-contain:where(.-layout-right, .-layout-left)
      @media (min-width(s))
        width: calc((100% + #{var(--padding-inline)}) / 2)
      @for $i from 2 through 10
        &:where(.-media-width-#{$i})
          @media (min-width(s))
            width: calc((100% + #{var(--padding-inline)}) * #{$i} / var(--card-width))
          @media (min-width(s)) and (max-width(sm))
            width: calc((100% + #{var(--padding-inline)}) * #{$i * 2} / var(--card-width))


    &.-media-size-contain:where(.-layout-right)
      @media (min-width(s))
        padding-left: var(--padding-inline)
      @media (max-width(s))
        padding-bottom: var(--padding-bottom)

    &.-media-size-contain:where(.-layout-left)
      @media (min-width(s))
        padding-right: var(--padding-inline)
      @media (max-width(s))
        padding-bottom: var(--padding-bottom)


  &__figure.-media-size-background &__image
    opacity: var(--background-media-opacity)

  &__image
    width: 100%