.l-container
  &
    +grid-container
    display: flex
    flex-direction: column

  &.-full
    padding-inline: 0

  @for $i from 1 through 4
    &.-offset-#{$i}
      max-width: width-by-cols((12 - 2*$i), true)

  &__inner
    width: 100%
    margin-inline: auto

  @for $i from 4 through 12
    &.-width-#{$i} &__inner
      --grid-columns: #{$i}
      max-width: width-by-cols($i)
      +media(ml)
        --grid-columns: 12

  &.-align-left &__inner
    margin-left: 0

  &.-align-right &__inner
    margin-right: 0

