@use '01-tools/all' as *

.l-carousel
	&

	&__controls
		+flex(row, center, center)
		padding-top: spacing(xs)
		gap: 0 1em
		&__prev,
		&__next
			color: var(--color-link)
			&:hover,
			&:focus-visible
				color: var(--color-link--hover)

	&__pagination
		+flex(row, center, center)
		padding-top: spacing(xs)

	&__track
		//margin-block: calc(var(--gutter-y) * -.5)
		//margin-inline: calc(var(--gutter-x) * -.5)
		overflow: visible
		overflow-x: hidden
		overflow-y: hidden
		overflow-x: clip
		overflow-y: clip

	&__track.-overflow-visible
		overflow: visible
		overflow-x: visible
		overflow-y: visible

	&__list
		--calc-col-width: calc((100% - (var(--row-colspan) - 1) * var(--gutter-x)) / var(--row-colspan))

		&.-align-start
			align-items: flex-start

		&.-align-center
			align-items: center

		&.-align-end
			align-items: flex-end

		&.-align-stretch
			align-items: stretch

	:where(.splide__slide.l-row__item):not(:last-child)
		margin-right: var(--gutter-x)

	$pagination-gap: .75em

	&__pagination
		gap: $pagination-gap
		&>li
			display: flex
	&__pagination__page
		$width: .75em
		$autoplayBarWidthMultiplier: 3.5
		position: relative
		height: $width
		width: $width
		background: color-mix(in srgb, var(--color-link), transparent 50%)
		border-radius: $width * 0.5
		transition: width var(--splide-speed)

		&:before
			content: ''
			position: absolute
			width: $width
			height: $width

		&:hover
			background: color-mix(in srgb, var(--color-link), transparent 25%)

		&.is-active
			background: var(--color-link)

		&.is-active.-autoplay
			width: $width * $autoplayBarWidthMultiplier
			background: color-mix(in srgb, var(--color-link), transparent 50%)
			overflow: hidden

		&.is-active.-autoplay:after
			content: ''
			position: absolute
			top: 0
			left: 0
			width: calc(var(--splide-autoplay-progress) * #{$width * ($autoplayBarWidthMultiplier - 1)} + $width)
			height: $width
			background: var(--color-link)
			border-radius: $width * 0.5

	&__autoplay
		&__toggle
			+flex(row,center,center)
			width: 2.2em
			height: 2.2em
			margin-inline: auto
			background: var(--color-link)
			border-radius: 100%
			transition: background-color .15s
			&:hover
				background: var(--color-link--hover)
		&__icon
			font-size: 1.5em
			color: var(--background)
		&__toggle.--paused &__icon
			&:before
				content: var(--icon-code-play-solid)
				position: relative
				left: 2%



