
.l-card
  +color-space-card
  --padding-block: 2em
  --padding-inline: 2em
  +media(s)
    //--padding-block: 1.5em
    //--padding-inline: 10%
  &
    +flex(column, flex-start, flex-start)
    position: relative
    flex-grow: 1
    color: var(--color)
    background: var(--background)
    border-radius: var(--border-radius-s)
    overflow: hidden
    &.-media
      flex-direction: column-reverse
      justify-content: space-between
    &.-media-size-contain
      padding: var(--padding-block) var(--padding-inline)
    &.-layout-right
      +media-up(s)
        flex-direction: row
    &.-layout-left.-media
      +media-up(s)
        flex-direction: row-reverse
    &.-layout-above.-media
      flex-direction: column-reverse
    &.-layout-below
      flex-direction: column
    &.-media-size-cover.-layout-right,
    &.-media-size-cover.-layout-left
      align-items: stretch

  &__content
    position: relative
    width: 100%
    height: 100%
    &.-media-size-cover
      padding: var(--padding-block) var(--padding-inline)
    &.-layout-right,
    &.-layout-left
      +media-up(s)
        width: 0
        flex-grow: 1

  &__figure
    width: 100%
    &.-media-size-cover.-layout-right,
    &.-media-size-cover.-layout-left
      +media-up(s)
        +cover-media
        width: 50%
        @for $i from 2 through 10
          &.-media-width-#{$i}
            width: calc(100% * #{$i} / var(--grid-columns-original))
    &.-media-size-contain.-layout-above
      padding-bottom: var(--padding-block)
    &.-media-size-contain.-layout-below
      padding-top: var(--padding-block)
    &.-media-size-contain.-layout-right
      +media-up(s)
        padding-left: var(--padding-inline)
      +media(s)
        padding-bottom: var(--padding-block)
    &.-media-size-contain.-layout-left
      +media-up(s)
        padding-right: var(--padding-inline)
      +media(s)
        padding-bottom: var(--padding-block)
    &.-media-size-contain.-layout-right,
    &.-media-size-contain.-layout-left
      +media-up(s)
        width: calc((100% + #{var(--padding-inline)}) / 2)
        @for $i from 2 through 10
          &.-media-width-#{$i}
            width: calc((100% + #{var(--padding-inline)}) * #{$i} / var(--grid-columns-original))
