@use '01-tools/all' as *

.l-container
  &
    +grid-container
    display: flex
    flex-direction: column

  @for $i from 1 through 4
    &.-offset-#{$i}
      max-width: width-by-cols((12 - 2*$i), true)

  &__inner
    padding-inline: var(--gutter-outer)
    width: 100%
    margin-inline: auto

  &:where(.-full) &__inner
    padding-inline: 0

  @for $i from 4 through 12
    &:where(.-width-#{$i}) &__inner
      --row-width: #{$i}
      max-width: width-by-cols($i, true)
      @media (max-width(m))
        @if ($i == 4)
          --row-width: 6
        @if ($i > 4)
          --row-width: 12
      @media (max-width(xs))
        --row-width: 12

  &:where(.-align-left) &__inner
    margin-left: 0

  &:where(.-align-right) &__inner
    margin-right: 0

