.l-carousel
  &

  &__controls
    +spacing(top, xs)
    +flex(row,center,center)

    &__prev,
    &__next
      margin: 0 .5em
      color: var(--color-link)
      &:hover,
      &:focus-visible
        color: var(--color-link)
      &:focus-visible
        border-radius: var(--border-radius-s)
        box-shadow: 0 0 0 4px var(--outline-color-button--focus)

  &__pagination
    +spacing(top, xs)
    +flex(row,center,center)

  &__track
    margin-block: calc(var(--grid-gutter-y) * -.5)
    margin-inline: calc(var(--grid-gutter-x) * -.5)
    overflow: visible
    overflow-x: hidden
    overflow-y: hidden
    overflow-x: clip
    overflow-y: clip

  &__track.-overflow-visible
    overflow: visible
    overflow-x: visible
    overflow-y: visible

  &__list
    &.-align-start
      align-items: flex-start

    &.-align-center
      align-items: center

    &.-align-end
      align-items: flex-end

    &.-align-stretch
      align-items: stretch

  &__page
    $width: .75em
    $margin: .75em
    position: relative
    height: $width
    width: $width
    margin: $margin * 0.5
    background: var(--color-link)
    border-radius: 100%
    opacity: 0.5
    &:before
      content: ''
      position: absolute
      top: $margin * (-0.5)
      left: $margin * (-0.5)
      width: $width + $margin
      height: $width + $margin
    &.is-active
      opacity: 1