@use '01-tools/all' as *

.l-modal
	@keyframes modal-open-overlay
		0%
			opacity: 0
		100%
			opacity: 1

	@keyframes modal-close-overlay
		0%
			opacity: 1
		100%
			opacity: 0

	@keyframes modal-open
		0%
			transform: scale(0.95)
		100%
			transform: scale(1)

	@keyframes modal-close
		0%
			transform: scale(1)
			opacity: 1
		100%
			transform: scale(0.95)
			opacity: 0

	&
		width: width-by-cols(6)
		max-width: 92%
		max-height: 96%
		margin: auto
		padding: 0
		color: var(--color)
		background: var(--background-modal)
		border: none
		border-radius: var(--border-radius-m)
		box-shadow: var(--box-shadow-m)
		opacity: 0
		overflow: hidden
		&:not(.--active, .--deactivating)
			display: none
			visibility: hidden
		&.--active
			opacity: 1
			animation: modal-open .17s ease-out
		&.--deactivating
			animation: modal-close .17s ease-out
			opacity: 0

		@for $i from 4 through 12
			&.-width-#{$i}
				width: width-by-cols($i)

				& > *
					--row-colspan: #{$i}
					--card-width: #{$i}

	&::backdrop
		background: var(--background-modal-backdrop)

	&.--active::backdrop
		animation: modal-open-overlay .17s ease-out

	&.--deactivating::backdrop
		opacity: 0
		animation: modal-close-overlay .17s ease-out

	&__close
		+flex(row, center, center)
		position: absolute
		z-index: 9
		right: 0
		top: 0
		width: 2.25em
		height: 2.25em
		font-size: 1.6rem
		cursor: pointer
		color: var(--color-emphasis)
		background: var(--background-button)
		border-radius: 0 var(--border-radius-s) 0 var(--border-radius-s)

		&:hover,
		&:focus-visible
			background: var(--background-button--hover)
			border-radius: 0 var(--border-radius-s) 0 var(--border-radius-s)