.l-modal
  +color-space-modal

  @keyframes modal-open-overlay
    0%
      opacity: 0
    100%
      opacity: 1

  @keyframes modal-close-overlay
    0%
      opacity: 1
    100%
      opacity: 0

  @keyframes modal-open
    0%
      transform: translate(-50%, calc(-50% - 5rem))
    100%
      transform: translate(-50%, -50%)

  @keyframes modal-close
    0%
      transform: translate(-50%, -50%)
      opacity: 1
    100%
      transform: translate(-50%, calc(-50% - 3rem))
      opacity: 0

  &__backdrop
    +gutter-outer()
    position: fixed
    display: none
    top: 0
    left: 0
    z-index: $z-index-modal-backdrop
    height: 100%
    width: 100vw
    background: var(--background-modal-backdrop)
    [class*="-modal--active"] &
      display: block
      animation: modal-open-overlay .3s
    [class*="-modal--deactivating"] &
      display: block
      animation: modal-close-overlay .3s

  &
    +center(both)
    +flex(column, center, center, nowrap)
    position: fixed
    left: calc(50% - var(--scrollbar-width) / 2)
    z-index: $z-index-modal
    display: none
    width: width-by-cols(6)
    max-width: 92%
    max-height: 96%
    //padding:
      //left: 2em
      //right: 2em
    color: var(--color)
    background: var(--background)
    border-radius: var(--border-radius-s)
    box-shadow: var(--box-shadow-m)
    overflow: hidden
    &.--active
      display: block
      animation: modal-open .3s
    &.--deactivating
      display: block
      opacity: 0
      animation: modal-close .2s
    .--main-nav-modal--active &.--deactivating
      animation: modal-close .3s
    @for $i from 4 through 12
      &.-width-#{$i}
        width: width-by-cols($i)
        &>*
          --grid-columns: #{$i}
          --grid-columns-original: #{$i}

  &__close
    +flex(row, center, center)
    position: absolute
    z-index: 9
    right: 0
    top: 0
    width: 2.25em
    height: 2.25em
    font-size: 1.6rem
    cursor: pointer
    color: var(--color-link)
    background: var(--background)
    border-radius: 0 var(--border-radius-s) 0 var(--border-radius-s)
    &:hover,
    &:focus-visible
      color: var(--background)
      background: var(--color-link)
      border-radius: 0 var(--border-radius-s) 0 var(--border-radius-s)