=l-media-layout($layout: block, $media-pos: above, $name: '.l-media')

  // image gallery above/below text
  @if $layout == block
    &
      --grid-gutter-y: calc( var(--grid-gutter-x) * 1.5 )

    #{$name}__media,
    #{$name}__text
      width: 100%
      &>*
        --grid-columns: inherit

    @if $media-pos == above
      #{$name}__text
        order: 2
      #{$name}__media + #{$name}__text
        //padding-top: spacing(m)

    @if $media-pos == below
      #{$name}__media + #{$name}__text.-bodytext
        //padding-bottom: spacing(m)

  // image column beside text
  @if $layout == inline
    &
      --grid-gutter-y: calc( var(--grid-gutter-x) * 1.5 )

    #{$name}__text,
    #{$name}__media
      @media (max-width(s))
        width: 100%

    @if $media-pos == left
      #{$name}__text
        @media (min-width(s))
          order: 2

  // image next to floating text
  @if $layout == float
    &
      display: block
      margin-block: 0 calc(-1 * var(--grid-gutter-y) )
      @media (max-width(s))
        display: flex
        flex-direction: column-reverse

    #{$name}__text
      +grid-col(1,1)
      margin-block: 0 var(--grid-gutter-y)

    #{$name}__media
      margin-block: 0 var(--grid-gutter-y)
      @media (max-width(s))
        width: 100%
      @if $media-pos == right
        @media (min-width(s))
          margin-left: var(--grid-gutter-x)
          float: right
      @if $media-pos == left
        @media (min-width(s))
          margin-right: var(--grid-gutter-x)
          float: left

.l-media
  &.-layout-right-float
    +l-media-layout(float,right)
  &.-layout-left-float
    +l-media-layout(float,left)
  &.-layout-right
    +l-media-layout(inline,right)
  &.-layout-left
    +l-media-layout(inline,left)
  &.-layout-above
    +l-media-layout(block,above)
  &.-layout-below
    +l-media-layout(block,below)

  &:where(.-mobile-max-height) &__file
    @media (max-width(s))
      max-height: var(--max-height-media-mobile)
      width: auto

  &__file
    &__title
      margin-top: 1em

  &__mp3
    width: 100%



