=media-layout($layout: block, $media-pos: above, $name: '.l-media')

  // image gallery above/below text
  @if $layout == block
    #{$name}__row
      --grid-gutter-y: calc( var(--grid-gutter-x) * 1.5 )

    #{$name}__media,
    #{$name}__text
      width: 100%
      &>*
        --grid-columns: inherit

    @if $media-pos == above
      #{$name}__media + #{$name}__text
        //+spacing(top, m)

    @if $media-pos == below
      #{$name}__media
        order: 2
      #{$name}__media + #{$name}__text.-bodytext
        //+spacing(bottom, m)

  // image column beside text
  @if $layout == inline
    #{$name}__row
      --grid-gutter-y: calc( var(--grid-gutter-x) * 1.5 )

    #{$name}__text,
    #{$name}__media
      +media(s)
        width: 100%

    #{$name}__media
      +media(s)
        order: 2
      @if $media-pos == right
        +media-up(s)
          order: 2

  // image next to floating text
  @if $layout == float
    &
      display: flex
      flex-direction: column
      +media-up(s)
        margin-bottom: calc(-1 * var(--grid-gutter-y) )


    #{$name}__row
      --grid-gutter-y: calc( var(--grid-gutter-x) * 1.5 )
      display: block
      +media-up(s)
        //--grid-gutter-y: 0
      +media-down(s)
        display: flex
        flex-direction: column-reverse

    #{$name}__text
      +grid-col(1,1)
      +media-up(s)
        margin-bottom: var(--grid-gutter-y)

    #{$name}__media
      +media-up(s)
        margin-bottom: var(--grid-gutter-y)
      +media-down(s)
        width: 100%
      @if $media-pos == right
        +media-up(s)
          margin-left: var(--grid-gutter-x)
          float: right
      @if $media-pos == left
        +media-up(s)
          margin-right: var(--grid-gutter-x)
          float: left

.l-media
  &.-layout-right-float
    +media-layout(float,right)
  &.-layout-left-float
    +media-layout(float,left)
  &.-layout-right
    +media-layout(inline,right)
  &.-layout-left
    +media-layout(inline,left)
  &.-layout-above
    +media-layout(block,above)
  &.-layout-below
    +media-layout(block,below)

  &.-mobile-max-height &__figure &__file
    +media(s)
      max-height: var(--max-height-media-mobile)
      width: auto

  &__file
    &__title
      margin-top: 1em

  &__mp3
    width: 100%



