.e-text-rich
	&
		width: 100%

	p:last-child
		padding-bottom: 0

	.-small
		+font-size($fs-small)

	.-large
		+font-size($fs-h3)
		line-height: 1.25

	.-footnote
		+font-size($fs-extra-small)

	.-quote
		+font-size($fs-h3)
		position: relative
		padding-left: 2em
		padding-top: 1em
		line-height: 1.25
		&:before
			content: "“"
			position: absolute
			top: 0
			left: 0
			color: var(--color-accent)
			font-size: 3em
			font-weight: 700

	a
		color: var(--color-link)

	a:hover
		color: var(--color-link--hover)

	ul, ol
		@extend .e-text-list
		+spacing(bottom, xs)

	table
		@extend .e-text-table
		+spacing(bottom, xs)

	* + h2
		+spacing(top, s, margin)
	* + h3,
	* + h4
		+spacing(top, xs, margin)

	// increase button distance to previous element, if necessary
	* + p:not(.e-button-group)>[class*='e-button-']
		//+spacing(top, xs, margin)

	.char-icon
		position: relative
		top: 0.1em