@use '../01-tools/all' as *

#document
	+color-space-base
	height: 100dvh
	overflow-x: clip
	overflow-y: scroll
	scrollbar-gutter: stable
	overscroll-behavior-x: none
	overscroll-behavior-y: none
	@media(pointer: coarse)
		overscroll-behavior-y: auto

	&[class*="-modal--active"],
	&[class*="-modal--deactivating"]
		overflow: hidden

	--scroll-margin-top-base: 0px
	//--scroll-margin-top-base: var(--height-page-header)
	//&.--header--scrollDown
	//	--scroll-margin-top-base: 0px

	&:where(:has(.m-anchorMenu__wrap))
		--scroll-margin-top-base: px-rem(70)
		//--scroll-margin-top-base: calc(var(--height-page-header) + 7rem)
		//&.--header--scrollDown
		//	--scroll-margin-top-base: 7rem

#body
	+typo-body
	width: 100%
	color: var(--color)
	background: var(--background)

#root
	+flex(column, flex-start, center)
	width: 100%
	max-width: var(--width-page)
	min-height: 100dvh
	overflow-x: clip
	margin-inline: auto
