@use '../01-tools/all' as *

.m-errorText
	&__wrap
		margin-block: auto

	&
		+flex(column, center, center, nowrap)

	&__header
		+font-size(px-rem(140))
		padding-bottom: 0

	&__subheader
		+typo-h2
		font-weight: bold

	&__logo
		display: block
		height: px-rem(50)
		width: px-rem(50)
		margin-block: px-rem(30)

	&__text
