@use '../01-tools/all' as *

.m-footer
	&
		+flex(column, flex-start, flex-start)
		--background: var(--background-footer)
		position: relative
		width: 100%
		padding-block: section-spacing()
		background: var(--background-footer)

