@use '../01-tools/all' as *

.m-header__nav
	&__wrap
		+flex(column, flex-start, flex-end, nowrap)
		margin-left: auto
		@media (max-width($bp-mobile-nav))
			display: none

	&
		+typo-nav
		+flex(column, flex-end, flex-end)
		flex-grow: 1

	& + &
		@media (min-width($bp-mobile-nav))
			padding-left: 2em

	&.-small
		+font-size($font-size-extra-small)

	&__meta__wrap
		@media (min-width($bp-mobile-nav))
			display: flex

	&__list
		position: relative
		display: flex
		justify-content: flex-end
		gap: 2em

	&__link
		display: block
		transition: opacity .15s, color .15s
		color: var(--color-emphasis)
		&.-rootline
			color: var(--color-link--hover)
		&:hover,
		&:focus-visible
			color: var(--color-link--hover)

	&__close
		display: none

	&__header
		display: none