
<f:argument name="name" type="string" optional="1" default="e-media"/>
<f:argument name="image" type="mixed" optional="1"/>
<f:argument name="src" type="string" optional="1"/>
<f:argument name="width" type="integer" optional="1"/>
<f:argument name="sources" type="array" optional="1"/>
<f:argument name="cropVariant" type="string" optional="1" default="default"/>
<f:argument name="webp" type="boolean" optional="1" default="0"/>
<f:argument name="avif" type="boolean" optional="1" default="0"/>
<f:argument name="retina" type="boolean" optional="1" default="0"/>
<f:argument name="loading" type="string" optional="1" default="lazy"/>
<f:argument name="breakpoints" type="array" optional="1"
	  default="{xs: 450, s: 625, sm: 800, m: 975, ml: 1150, l: 1325, xl: 1500, 1920px: 1920}"/>
<f:argument name="backgroundImg" type="boolean" optional="1" default="0"/>
<f:argument name="reserveHeight" type="string" optional="1"/>
<f:argument name="additionalAttributes" type="array" optional="1"/>


<f:if condition="!{width}">
	<f:variable name="width" value="{site.settings.puck.gridWidth}"/>
</f:if>
<f:if condition="{src} || {image}">
	<f:if condition="{backgroundImg}">
		<f:then>
			<div class="{u:prependClass()}{name}__image -backgroundImage"
				 style="background-image: url('{f:uri.image(src:src,image:image,cropVariant:cropVariant,width:width)}{f:if(condition:webp,then:'.webp')}');"></div>
		</f:then>
		<f:else>
			<picture class="{name}__picture {f:if(condition:reserveHeight,then:'-reserveHeight')}"
					 style="{f:if(condition:reserveHeight,then:'padding-top:{reserveHeight}')}">
				<f:if condition="{sources}">
					<f:for each="{sources}" as="source" key="key">
						<f:variable name="media" value="{key}"/>
						<f:if condition="{breakpoints.{key}}">
							<f:variable name="media" value="{breakpoints.{key}}"/>
						</f:if>
						<f:if condition="{image}">
							<f:then>
								<f:variable name="srcSet" value="{f:uri.image(
								  image: image,
								  width: source.width,
								  absolute: 1,
								  cropVariant: source.cropVariant
								)}"/>
								<f:variable name="srcSetx2" value=""/>
								<f:if condition="{retina}">
									<f:variable name="srcSetx2" value=", {f:uri.image(
									  image: image,
									  width: '{source.width * 2}',
									  absolute: 1,
									  cropVariant: source.cropVariant
									 )}"/>
								</f:if>
							</f:then>
							<f:else>
								<f:variable name="srcSet"
											value="{f:uri.image(src: src,width: source.width,absolute: '1')}"/>
								<f:variable name="srcSetx2" value=""/>
								<f:if condition="{retina}">
									<f:variable name="srcSetx2" value=", {f:uri.image(
									  src: src,
									  width: '{source.width * 2}',
										absolute: '1'
									 )}"/>
								</f:if>
							</f:else>
						</f:if>

						<f:if condition="{avif}">
							<source media="(min-width: {media}px)"
									srcset="{srcSet}.avif{srcSetx2}{f:if(condition:retina,then:'.avif 2x')}"
									type="image/avif">
						</f:if>
						<f:if condition="{webp}">
							<source media="(min-width: {media}px)"
									srcset="{srcSet}.webp{srcSetx2}{f:if(condition:retina,then:'.webp 2x')}"
									type="image/webp">
						</f:if>
						<source media="(min-width: {media}px)"
								srcset="{srcSet}{srcSetx2}{f:if(condition:retina,then:' 2x')}">
					</f:for>
				</f:if>
				<f:if condition="{image}">
					<f:then>
						<f:image image="{image}"
								 class="{u:prependClass()}{name}__image"
								 width="{width}"
								 absolute="1"
								 cropVariant="{cropVariant}"
								 alt="{image.alternative}"
								 loading="{loading}"
								 additionalAttributes="{additionalAttributes}"/>
					</f:then>
					<f:else>
						<f:image src="{src}"
								 class="{u:prependClass()}{name}__image"
								 width="{width}"
								 absolute="1"
								 loading="{loading}"
								 additionalAttributes="{additionalAttributes}"/>
					</f:else>
				</f:if>

			</picture>

		</f:else>
	</f:if>

</f:if>


