.-background-image
  height: 100%
  width: 100%
  background-image: var(--bg-image)
  background-position: center top
  background-size: cover

.-reserve-height
  display: block
  position: relative
  padding-top: var(--padding-top)
  img
    position: absolute
    top: 0

