@use 'sass:map'
@use '01-tools/all' as *

fieldset
	padding: 0
	border: none

input, textarea, select
	margin: 0
	padding: 0
	color: var(--color-input)
	background: var(--background-input)
	outline: 0
	color-scheme: light dark
	&::placeholder
		opacity: 0.5

	&:active, &:focus
		color: var(--color-input--active)
		background: var(--background-input--active)

		&::placeholder
			opacity: 1

textarea
	height: 9.5em
	resize: none

$fieldInputs: '[type="text"], [type="email"], [type="password"], [type="number"], [type="date"], [type="tel"], [type="datetime-local"], [type="month"], [type="week"], [type="time"], [type="url"], [type="search"], [type="color"]'

textarea, select, #{$fieldInputs}
	width: 100%
	min-height: 2.66em
	padding: .66em
	line-height: 1
	border: 2px solid var(--color-input-border)
	border-radius: var(--border-radius-s)
	transition: background .15s, border-color .15s, color .15s, box-shadow .15s

	&:active, &:focus, &:hover
		border-color: var(--color-input-border--active)

select:not([multiple])
	&, &:focus
		appearance: none
		padding-right: 2em
		background-image: linear-gradient(45deg, transparent 50%, currentColor 50%), linear-gradient(135deg, currentColor 50%, transparent 50%)
		background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px)
		background-size: 5px 5px, 5px 5px
		background-repeat: no-repeat

select[multiple]
	overflow: auto

[type="checkbox"], [type="radio"]
	+flex(row, center, center)
	appearance: none
	position: relative
	bottom: 5% // align with label text
	height: round(.8em, 2px)
	width: round(.8em, 2px)
	background: color-mix(in srgb, currentColor, transparent 75%)
	border: 1px solid var(--color-input-border)
	&:hover
		border-color: var(--color-input-border--active)
	&:active, &:focus
		background: color-mix(in srgb, currentColor, transparent 75%)
	&:after
		content: ''
		width: round(50%, 1px)
		height: round(50%, 1px)
	&:checked
		border-color: currentColor
	&:checked:after
		background: currentColor

	label:has(>&)
		+flex(row, flex-start, center, nowrap)
		gap: .5em

[type="radio"]
	border-radius: 50%
	&:after
		border-radius: 50%

[type="checkbox"], [type="radio"]
	& + label
		display: block
		max-width: 100%
		width: 100%

[type="submit"]

input[type="range"]
	margin-bottom: 0
	height: 7px
	border-radius: 5px
	accent-color: var(--color-input)
	background: var(--background-input)

label
	display: inline-block
	margin-bottom: .5em

	a
		color: var(--color-link)
		text-decoration: underline
		transition: color .15s

		&:hover
			color: var(--color-link--hover)


