@use 'sass:math'

// GRID VARIABLES
$page-width:              177rem
$gutter:                  2rem

$bp-mobile-nav: l

// FONT-SIZES
$rfs-base-value: 1.4rem
$rfs-factor: 8
$rfs-breakpoint: 1000px
$rfs-rem-value: 10

$fs-basic: 2.2rem
$fs-h1: 6rem
$fs-h2: 4rem
$fs-h3: 3.5rem
$fs-h4: 3rem
$fs-small: 1.8rem
$fs-extra-small: 1.5rem

$fs-sub: $fs-small
$fs-nav: $fs-basic
$fs-button: $fs-basic

// COLORS
$red-cardinal: #AC194F
$red-jazzberry-jam: #8C103E

$green-rio-grande: #B9C315
$green-primrose: #DFE396

$blue-pattens: #E3F3F9

$grey-dim: #606060
$white-gainsboro: #E1E1E1


// FONT-FAMILIES
$ff-text: 'Museo Sans'
$ff-headline: $ff-text
$ff-alt1: $ff-text
$ff-alt2: $ff-text

// STYLES
$border-radius-s: 5px
$border-radius-m: 15px
$box-shadow-xs: 0 3px 4px rgb(0 0 0 / 12%)

// COMPONENTS
$page-header-logo-width: 22.2rem
$page-header-height: 16rem
$page-header-height-sticky: 9.4rem
$page-header-height-mobile: 7.6rem