
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-modal"/>
  <fc:param name="container" type="string" optional="1" default="cols8"/>
  <fc:param name="id" type="string" optional="1"/>
  <fc:param name="dataAttributes" type="string" optional="1"/>
  <fc:renderer>

    <div class="{name}__wrap {class}"
         id="{id}"
         data-modal
         {dataAttributes}>
      <div class="{name} -{container}" data-modal-window>
        <div class="{name}__inner" id="{id}-inner">
          <f:format.raw>{content}</f:format.raw>
        </div>
        <div data-modal-close>
          <icon:svg icon="close" class="{name}__close" />
        </div>
      </div>
    </div>

  </fc:renderer>
</fc:component>
