.e-media-embed
  &
    position: relative
    padding-top: 56.25%
    margin: auto
    border-radius: $border-radius-m
    overflow: hidden
    background: black
    cursor: pointer

  &__image
    +center(vertical)
    width: 100%
    opacity: .5
    transition: opacity .15s

  &:hover &__image
    opacity: .75

  &__button
    +center
    color: white
    height: 2.2em
    width: 2.2em
    padding: .6em
    border-radius: $border-radius-s
    transition: transform .15s, filter .15s

  &:hover &__button
    filter: brightness(1.1)

  &__iframe
    position: absolute
    top: 0
    width: 100%
    height: 100%