
<f:argument name="name" type="string" optional="1" default="m-menu__filter"/>
<f:argument name="categoryFilter" type="Amdeu\MenuControls\Dto\CategoryFilter"/>
<f:argument name="contentUid" type="string" optional="1"/>


<f:if condition="{categoryFilter.items}">
	<div class="{name}"
		 id="c{contentUid}-filter"
		 data-hx-focus-after-swap="#c{contentUid}-list a"
		 data-hx-select.inherited="#c{contentUid}-body"
		 data-hx-target.inherited="#c{contentUid}-body">
		<ul class="{name}__list">
			<f:for each="{categoryFilter.items}" as="item" iteration="i">
				<li class="{name}__item">
					<f:if condition="{item.children}">
						<f:then>
							<element:dropdown
								id="c{contentUid}-filter-{i.index}-dropdown"
								label="{item.label}">
								<f:for each="{item.children}" as="childItem">
									<a href="{childItem.url}"
									   data-autofocus
									   data-hx-get="{childItem.url}"
									   data-hx-replace-url="{childItem.url}"
									   class="{u:bem(
										block:'e-dropdown',
										el:'option',
										mod:{active:childItem.active, disabled:childItem.noPotential}
									 )}">
										{childItem.label}
										<f:if condition="{childItem.active}">
											 
											<icon:char icon="xmark-regular"
													   class="e-dropdown__option__close__icon"/>
										</f:if>
									</a>
								</f:for>
							</element:dropdown>
						</f:then>

						<f:else>
							<a href="{item.url}"
							   class="{u:bem(
									el:'link',
									mod:{active:item.active, disabled:item.noPotential, icon: item.active}
								 )} e-button"
							   data-autofocus
							   data-hx-get="{item.url}"
							   data-hx-replace-url="{item.url}">
								{item.label}
								<f:if condition="{item.active}">
									 
									<icon:char icon="xmark-regular"/>
								</f:if>
							</a>
						</f:else>

					</f:if>
				</li>
			</f:for>
			<f:if condition="{categoryFilter.resetItem}">
				<li class="{name}__item" style="margin-left: auto">
					<a href="{categoryFilter.resetItem.url}"
					   class="{name}__link e-button -icon-right"
					   data-autofocus
					   data-hx-get="{categoryFilter.resetItem.url}"
					   data-hx-replace-url="{categoryFilter.resetItem.url}">
						{categoryFilter.resetItem.label}
						<icon:char icon="xmark-regular"/>
					</a>
				</li>
			</f:if>
		</ul>
	</div>
</f:if>




