<f:render partial="PageLayout/Record/{item.record.CType}/Preview" arguments="{_all}" optional="1">
    <a href="{be:uri.editRecord(uid: item.record.uid, table:'tt_content')}">
        <f:render section="type" arguments="{CType: item.record.CType, uid: item.record.uid}" />
    </a>
    <f:if condition="{item.record.CType} == 'list'">
        <f:then>
            {item.preview -> f:format.raw()}
        </f:then>
        <f:else>
            <f:render section="theme" arguments="{item: item}" />
        </f:else>
    </f:if>
</f:render>

<f:section name="theme">
    <a href="{be:uri.editRecord(uid: item.record.uid, table:'tt_content')}">
        <f:render section="main" arguments="{item: item}" />
        <f:render section="fileThumbs" arguments="{row: item.record, files: item.record.media, field: 'media', table: 'tt_content'}" />
        <f:render section="fileThumbs" arguments="{row: item.record, files: item.record.image, field: 'image', table: 'tt_content'}" />
        <f:render section="fileThumbs" arguments="{row: item.record, files: item.record.assets, field: 'assets', table: 'tt_content'}" />
        <f:render section="group" arguments="{group: item.record.pages, table: 'pages', headline: 'Pages'}" />
        <f:render section="group" arguments="{group: item.record.parents, table: 'pages', headline: 'Subpages of'}"/>
        <f:if condition="{item.record.records}">
            <em>Shortcut to:</em>
            <f:for each="{ubos:utility.backend.getRecords(table: 'tt_content', uids: item.record.records)}" as="shortcut">
                <f:render section="type" arguments="{CType: shortcut.CType, uid: shortcut.uid}" />
            </f:for>
        </f:if>
        <f:switch expression="{item.record.CType}">
            <f:case value="columns">
                <f:render section="items" arguments="{inline_media: item.record.inline_media, uid: item.record.uid, CType: item.record.CType, icon: 'InlineTextMedia', col: item.record.imagecols}" />
            </f:case>
            <f:defaultCase>
                <f:render section="items" arguments="{inline_media: item.record.inline_media, uid: item.record.uid, CType: item.record.CType, icon: 'InlineTextMedia'}" />
            </f:defaultCase>
        </f:switch>
    </a>
</f:section>

<f:section name="type">
    <p>
        <small>
            <strong>
                <f:translate key="LLL:EXT:theme/Resources/Private/Language/locallang.xlf:wizard.{ubos:string.replace(search:'theme_',replace:'',subject:CType)}" />
            </strong>
            id:{uid}
        </small>
    </p>
</f:section>

<f:section name="main">
    <f:if condition="{item.record.CType} !== 'anchor'">
        <f:then>
            <f:variable name="headerType" value="{f:if(condition: '{item.record.header_layout} == 2', then: 'h4', else: 'h2')}"/>
            <f:render section="text" arguments="{header: item.record.header, headerType: headerType, subheader: item.record.subheader, bodytext: item.record.bodytext}" />
        </f:then>
        <f:else>
            <strong>{item.record.header}</strong><br>
            <u>#{item.record.subheader -> f:cObject(typoscriptObjectPath:'lib.formatAnchorId')}_c{item.record.uid}</u>
        </f:else>
    </f:if>
</f:section>

<f:section name="text">
    <f:if condition="{subheader}">
        <p>{subheader -> f:format.raw()}</p>
    </f:if>
    <f:if condition="{header}">
        <{headerType}>{header -> f:format.raw()}</{headerType}>
    </f:if>
    <f:if condition="{bodytext}">
        <div style="padding-bottom: 1em">{bodytext -> f:format.stripTags() -> f:format.nl2br()}</div>
    </f:if>
</f:section>

<f:section name="fileThumbs">
    <f:if condition="{files}">
        <div class="thumb">
            <div  style="margin-top: 10px; margin-right: 10px">
                <f:format.raw>
                    <ubos:utility.backend.thumbCode row="{row}" table="{table}" field="{field}"/>
                </f:format.raw>
            </div>
        </div>
        <div class="media-desc" style="display: none">
            <f:for
                    each="{ubos:utility.backend.resolveFileReferences(row: row, table: table, field: field)}"
                    as="fileReference">
                {fileReference.description}<br>
            </f:for>
        </div>
    </f:if>
</f:section>

<f:section name="group">
    <f:if condition="{group}">
        <em>{headline}:</em>
        <ul>
            <f:for each="{ubos:utility.backend.getRecords(table: table, uids: group)}" as="item">
                <li>
                    {item.title}
                </li>
            </f:for>
        </ul>
    </f:if>
</f:section>

<f:section name="items">
    <f:if condition="{inline_media}">
        <f:variable name="items"
                    value="{ubos:utility.backend.getRecords(table: 'tx_theme_domain_model_inline_media', where: 'parent_uid={uid}', sorting: 'sorting')}"/>
        <small style="padding-bottom: 3px; display: block; text-align: right">
            <strong>
                [<f:count>{items}</f:count>]
            </strong>
        </small>
        <div class="item-row">
            <f:for each="{items}" as="item" iteration="i">
                <div class="item-col -col{col}">
                    <div class="t3-page-ce-header">
            <span class="t3js-icon icon icon-size-small">
              <img src="/typo3conf/ext/theme/Resources/Public/Icons/Content/{icon}.svg" alt="">
            </span>
                        <small style="padding: 0 4px;">
                            <f:if condition="{itemLabel}">
                                <f:then>{itemLabel}</f:then>
                                <f:else>
                                    <f:translate key="LLL:EXT:theme/Resources/Private/Language/locallang.xlf:wizard.{ubos:string.replace(search:'theme_',replace:'',subject:CType)}" />
                                </f:else>
                            </f:if>
                        </small>
                    </div>
                    <div class="t3-page-ce-body">
                        <div class="t3-page-ce-body-inner">
                            <f:render section="text"
                                      arguments="{header: item.header, headerType: 'h3', subheader: item.subheader, bodytext: item.bodytext}"/>
                            <f:render section="fileThumbs" arguments="{row: item, files: item.assets, field: 'assets', table: 'tx_theme_domain_model_inline_media'}" />
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>
</f:section>