
<fc:component>
  <fc:param name="name" type="string" optional="1" default="l-modal"/>
  <fc:param name="id" type="string" optional="1"/>
  <fc:param name="width" type="integer" optional="1" default="6"/>
  <fc:param name="slots" type="array" optional="1" default="{}"/>
  <fc:param name="modalAttributes" type="array" optional="1" default="{}"/>
  <fc:param name="attributes" type="array" optional="1"/>
  <fc:renderer>

    {u:var(set:'defaultModalAttributes',value:'{duration:300}')}
    <dialog class="{name} {class} -width-{width}"
            id="{id}"
            data-core="modal"
            data-modal="{defaultModalAttributes -> u:array(merge:modalAttributes) -> f:format.json()}"
            {attributes -> u:renderAttributes()}>
      <f:comment>
        <f:if condition="{slots.header}">
          <div class="{name}__header">
            <f:format.raw>{slots.header}</f:format.raw>
          </div>
        </f:if>
        <f:if condition="{slots.footer}">
          <div class="{name}__footer">
            <f:format.raw>{slots.footer}</f:format.raw>
          </div>
        </f:if>
      </f:comment>

      <fc:slot name="content"/>
      <button class="{name}__close"
              autofocus
              data-trigger="modal::toggle"
              aria-label="{f:translate(key:'close')}">
        <icon:char icon="close" />
      </button>

    </dialog>

  </fc:renderer>
</fc:component>
